@font-face{font-family:'Franklin Gothic Book';src:url('fonts/FranklinGothic-Book.eot?#iefix') format('embedded-opentype'), url('fonts/FranklinGothic-Book.woff') format('woff'), url('fonts/FranklinGothic-Book.ttf') format('truetype'), url('fonts/FranklinGothic-Book.svg#FranklinGothic-Book') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'Franklin Gothic Demi Cond';src:url('fonts/FranklinGothic-DemiCond.eot?#iefix') format('embedded-opentype'), url('fonts/FranklinGothic-DemiCond.woff') format('woff'), url('fonts/FranklinGothic-DemiCond.ttf') format('truetype'), url('fonts/FranklinGothic-DemiCond.svg#FranklinGothic-DemiCond') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'Franklin Gothic Medium';src:url('fonts/FranklinGothic-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/FranklinGothic-Medium.woff') format('woff'), url('fonts/FranklinGothic-Medium.ttf') format('truetype'), url('fonts/FranklinGothic-Medium.svg#FranklinGothic-Medium') format('svg');font-weight:normal;font-style:normal;}
body,html{width:100%;margin:0;padding:0;background:#f4f4f4;color:#000;font-family:"Franklin Gothic Medium";font-size:12px}
.row{width:100%;clear:both;float:left}
.row .container{width:94%;max-width:1200px;margin:0 auto;display:table;position:relative}
.block6{width:50%;float:left}
.portrait_container{float:left;}
.portrait_container:last-child{float:right}
a{text-decoration:none}
.container.wrap_big_link{text-align:center;margin-top:100px;margin-bottom:100px}
body>section{margin-top:180px;}
input[type="text"]{background:#fff;border:none;border-radius:10px;height:36px;padding:0 18px;border:1px solid #e6e6e6}
.green_btn{display:inline-block;background:#0abab5;border-radius:10px;padding:9px 32px;color:#fff;font-size:1.25rem;text-transform:uppercase;cursor:pointer}
@media screen and (max-width:1295px){.switch_text_wrap .green_btn{min-width:215px!important;text-align:center}}
.box_shadow{-webkit-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);}
h1,h2,h3,h4,h5{font-weight:500}
h1,.h1_substitute{font-size:25px;}
h2{font-size:20px;}
h3{font-size:18px;}
h4{font-size:16px}
h5{font-size:15px}
html body .row .container.main_page_h1{padding-bottom:0;padding-top:30px}
html body .row .container.main_page_h1 h1{margin-bottom:0;display:inline-block;}
header{position:absolute;top:0;left:0;width:100%;background:#f4f4f4;z-index:6}
.row.top_green_line{background:#0abab5;height:20px}
.row.top_data_row .container{padding:15px 0}
.top_logo{display:block;float:left;width:218px;height:79px;background:url(../images/logo.png) no-repeat center;}
.slogan{font-family:"Franklin Gothic Demi Cond";font-size:2rem;color:#00abb2;margin-left:30px;white-space:nowrap;float:left;margin-top:25px}
.phone_header_data{float:right;margin-left:65px}
.phone_header_data,.geotargeting,.select_clinic_label{margin-top:22px}
.phone_header_data_text{font-family:"Franklin Gothic Book";font-size:1rem;color:#000}
.phone_header_data a{color:#b0224a;font-size:1.9rem;font-family:"Franklin Gothic Demi Cond";text-decoration:none}
.geotarget_wrap{float:right}
.geotargeting{background:url(../images/geotargeting.png) no-repeat #0abab5 15px 7px;display:block;border-radius:15px;float:left;color:#fff;text-decoration:none;text-transform:uppercase;font-family:"Franklin Gothic Medium";font-size:1rem;padding:11px 15px 11px 45px;margin-left:35px;cursor:pointer}
.select_clinic_label{font-family:"Franklin Gothic Book";font-size:1.17rem;float:left;line-height:20px}
.row.main_menu{background:#0abab5;height:54px;}
.row.main_menu.sticky{position:fixed}
.row.main_menu .container{height:inherit;display:block}
.main_menu_ul{display:block;float:left;height:100%;margin:0;padding:0;}
.main_menu_ul li{display:block;float:left;padding:17px 14px;position:relative;height:calc(100% - 34px)}
.main_menu_ul li:hover{background:#09ada8}
.main_menu_ul li ul{display:none;position:absolute;left:0;top:54px;background:#09ada8;padding:0}
.main_menu_ul li ul li{padding:5px 20px;display:inline-block;width:calc(100% - 40px)}
.main_menu_ul li ul li:hover{background:#0abab5}
.main_menu_ul li ul li a{display:block;word-wrap:normal;white-space:nowrap}
.main_menu_ul li:hover ul{display:block;}
.main_menu_ul li.active{background:#fff;}
.main_menu_ul li.active a{color:#0abab5}
.main_menu_ul li a{color:#fff;text-decoration:none;font-family:"Franklin Gothic Medium";font-size:15px;text-transform:uppercase}
.main_menu_selectors_wrap{float:right;height:100%;}
.main_menu_selectors_wrap .numb_see{height:100%;cursor:pointer;width:47px;background:url(../images/numb_see.png) no-repeat center;display:block;float:right}
.main_menu_selectors_wrap input[type="text"]{float:right;display:block;background:url(../images/main_menu_selectors_wrap_search.png) no-repeat 10px 7px #11979c;border-radius:13px;height:26px;border:none;width:130px;padding:0 30px;margin:14px 40px 0 40px;font-size:1rem;color:#fff}
.your_city_wrap{font-size:1.25rem;float:right;color:#fff;font-family:"Franklin Gothic Book";margin-top:17px;position:relative;height:37px}
.your_city_wrap a{color:#0c5356;text-decoration:none;border-bottom:1px dotted #0c5356;padding-bottom:3px;display:block;margin-left:20px;float:left}
.your_city_wrap span{display:block;float:left}
.selector_sity{position:absolute;top:100%;background:#0abab5;float:right;padding-bottom:5px;left:10px;display:none}
.your_city_wrap:hover .selector_sity{display:block}
.selector_sity a{cursor:pointer;display:block;width:auto;float:left}
.header_visit_order{border-radius:15px;color:#fff;background:#b0224a;padding:11px 15px;font-size:1rem;text-transform:uppercase;float:left;margin-top:22px;cursor:pointer;width:147px;text-align:center}
.row.super_slider{overflow:hidden;height:450px;position:relative}
.row.super_slider .container{height:100%}
.row.super_slider .swiper-wrapper{height:450px}
.row.super_slider .swiper-wrapper .swiper-slide{height:450px;width:100%}
.swiper_table{display:table;height:100%;width:50%;}
.swiper_table .swiper_table_child{display:table-cell;vertical-align:middle;font-family:'Franklin Gothic Demi Cond';color:#fff;}
.swiper_table .swiper_table_child .green_field{display:inline-block;background:rgba(10,186,181,0.7);border-radius:15px;padding:30px 30px 15px 30px;width:410px}
.swiper_table_child .title{font-size:30px;margin-bottom:15px;width:80%;color:#0c5356}
.swiper_table_child p{font-size:1.5rem;width:80%;line-height:24px;font-family:"Franklin Gothic Book";}
.green_field a{display:block;float:right;clear:both;font-size:13px;text-transform:uppercase;font-family:"Franklin Gothic Medium";text-decoration:none;color:#fff;background:url(../images/little_arrow_round.png) no-repeat center right;height:21px;padding-top:5px;padding-right:43px}
.switches{position:absolute;z-index:2;height:25px;width:100%;text-align:center;bottom:30px}
.switches .swiper-pagination-switch{width:21px;height:21px;background:#fff;border-radius:100%;display:inline-block;margin-right:20px;border:2px solid #fff}
.switches .swiper-pagination-switch.swiper-active-switch{background:#0abab5}
.switches .swiper-pagination-switch:last-child{margin-right:0}
.row.row_advantages .container{padding:50px 0 20px 0}
.advantage_wrap{width:210px;background:#f4f4f4;-webkit-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);float:left;padding:30px 35px 15px 35px;margin-right:25px;margin-bottom:25px;height:185px;overflow:hidden;position:relative;cursor:pointer}
.advantage_wrap:nth-child(4n){margin-right:0}
.advantage_overlay{position:absolute;bottom:-100%;left:0;width:210px;background:#0abab5;height:185px;padding:30px 35px 15px 35px;color:#fff;-webkit-transition-duration:1s;-moz-transition-duration:1s;-o-transition-duration:1s;transition-duration:1s;}
.advantage_wrap:hover .advantage_overlay{bottom:0;left:0}
.advantage_overlay_title{font-size:1.5rem;font-family:"Franklin Gothic Book";text-transform:uppercase;line-height:27px;color:#fff}
.advantage_overlay_text{font-family:"Franklin Gothic Book";font-size:14px}
.advatage_icon{width:60px;height:50px}
.advantage_title{margin-top:20px;font-size:18px;font-family:"Franklin Gothic Book";text-transform:uppercase;line-height:27px}
.row.row_advantages .container.more_advantages{text-align:center;padding-top:0}
.more_advantages a.more_advantages_btn{display:inline-block;font-family:'Franklin Gothic Demi Cond';color:#18b3b9;text-transform:uppercase;background:url(../images/more_advantages_btn.png) no-repeat center bottom;height:65px;width:40px;cursor:pointer}
.row.row_title .container{padding:60px 0 50px 0;font-size:25px;font-family:'Franklin Gothic Demi Cond';text-align:center;text-transform:uppercase}
#find_clinic_block a{color:#000}
#find_clinic_block a:hover{color:#0abab5;text-decoration:underline}
#map{width:60%;max-width:750px;height:420px;float:right;-webkit-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);}
@media screen and (max-width:1080px){#map{width:100%;max-width:inherit;margin-bottom:150px} }
.map_operate_wrap{float:left;width:400px;padding-bottom:150px}
.search_input_wrap{width:calc(100% - 40px)}
.search_input_wrap input{width:calc(100% - 30px);height:48px;border:1px solid #cfcfcf;background:#fff;border-radius:15px;padding:0 15px}
.addresses_wrap{height:420px;width:400px;margin-top:0px}
.single_address_wrap{width:calc(100% - 62px);background:#ffffff;border-bottom:1px solid #dfdfdf;padding:10px;font-size:1.2rem;font-family:"Franklin Gothic Book";display:table;position:relative}
.single_address_wrap:hover,.single_address_wrap:focus{background:#d9feff}
.single_addr_title{cursor:pointer; margin-bottom: 5px;}
.full_clinic_link{color:#0abab5}
.phone_data{float:left;padding:0 0 0 26px;background:url(../images/phone_data.png) no-repeat center left;margin-bottom:5px;display:block;float:left}
.phone_data a{color:#000;text-decoration:none;}
.single_addr_data_wrap{margin-top:15px;width:100%;}
.time_data{float:left;padding:0 0 0 26px;background:url(../images/time_data.png) no-repeat center left;margin-bottom:5px;clear:both}
.time_data:last-child{margin-bottom:0}
.time_data_wrap{width:100%;float:left}
.map_operate_wrap .mCS-minimal.mCSB_scrollTools .mCSB_draggerRail, .map_operate_wrap .mCS-minimal-dark.mCSB_scrollTools .mCSB_draggerRail{background:#d0d0d0}
.map_operate_wrap .mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools,.map_operate_wrap .mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools{opacity:1}
.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools, .mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools{opacity:1}
.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical{margin:0}
.mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:#18b3b9}
.map_operate_wrap .mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,.map_operate_wrap .mCS-minimal.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar{background:#18b3b9}
.search_results_data .mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:#1bd4db}
.mCS-minimal.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-minimal.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background:#18b3b9}
.planc_wrap{background:#fff;width:100%;-webkit-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);margin-bottom:50px;position:relative;height:160px;overflow:hidden;cursor:pointer;display:block}
.plank_text_wrap{width:50%;height:100%;position:absolute;z-index:2;float:left;padding:20px 30px;left:0;top:0;background:#fff;cursor:pointer}
.plank_img_wrap{width:50%;float:right;height:100%;z-index:1}
.plank_text_wrap .plank_overlay{background:url(../images/plank_text_wrap.png) repeat-y center right;position:absolute;right:-9px;height:100%;top:0;width:9px;background-size:auto}
.plank_title{font-family:'Franklin Gothic Demi Cond';font-size:25px;color:#0e6e72;text-transform:uppercase;text-decoration:none;margin-bottom:15px;display:block}
.plank_text{font-family:"Franklin Gothic Book";font-size:1.1rem;color:#000}
.plank_link{display:block;height:30px;font-size:16px;text-transform:uppercase;color:#18b3b9;margin-top:15px;padding-left:34px;padding-top:2px}
.plank_link.plank_link_order{background:url(../images/plank_link_order.png) no-repeat top left}
.plank_link.plank_link_pay{background:url(../images/plank_link_pay.png) no-repeat top left}
.voicers_wrap a{display:block;float:left;width:calc(32% - 20px);margin-right:2%;color:#000;padding:5px 10px;font-size:1.2rem;background:#fff;margin-bottom:30px;-webkit-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);}
.voicers_wrap a:last-child{margin-right:0}
.voicers img{display:block;float:left;height:100px;margin-right:20px;}
.voicers span{display:block;float:left;width:calc(100% - 125px)}
.voicers_link{margin-top:10px;color:#18b3b9;font-size:1.3rem;text-transform:uppercase}
.voicers_wrap{padding-bottom:50px}
@media screen and (max-width:800px){.voicers_wrap a{width:calc(100% - 20px);margin-right:0}
}
.row.row_video{background:#eeeeee;padding:100px 0}
.video_text_wrap{width:80%}
.video_title{font-family:"Franklin Gothic Medium";font-size:1.7rem;margin-bottom:25px}
.video_text{font-family:"Franklin Gothic Book";font-size:1.25rem;line-height:25px}
.all_video_link{text-align:center;padding-top:25px}
.video_vrap{width:100%}
.video_vrap iframe{max-width:100%!important;border:none}
.all_video_link a{background:#0abab5;-webkit-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);display:inline-block;color:#fff;padding:12px 38px;border-radius:15px;text-transform:uppercase;font-size:1.25rem;font-family:"Franklin Gothic Medium";}
.row_reviews{background:#0abab5;height:610px}
.row_reviews .container{background:url(../images/row_reviews.png) no-repeat left top;height:100%;display:block}
.reviews_title{margin-top:65px;margin-left:215px;font-family:'Franklin Gothic Demi Cond';color:#fff;font-size:25px;text-transform:uppercase;float:left}
.leave_review_wrap{height:100%;background:#ededed;-webkit-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);float:right;width:400px;display:table}
.leave_review_title{width:100%;margin:65px 0 30px 0;font-family:'Franklin Gothic Demi Cond';color:#17959a;font-size:25px;text-transform:uppercase;text-align:center}
.review_form{width:264px;margin-left:68px;text-align:center}
.review_form input[type="text"],.review_form textarea{width:calc(100% - 36px);background:#fff;border:none;border-radius:15px;height:40px;padding:0 18px;margin-bottom:20px}
.review_form textarea{height:118px;padding-top:10px;padding-bottom:10px;resize:none;margin-bottom:0px;margin-top:20px}
.review_form .wrap_agree_checkbox label{width:240px}
.review_form .wrap_agree_checkbox{margin-bottom:20px}
.review_form .wrap_agree_checkbox label a{color:#17959a}
.big_green_btn{display:inline-block;color:#fff;background:#0abab5;-webkit-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);padding:12px 38px;border-radius:15px;text-transform:uppercase;font-size:15px;font-family:"Franklin Gothic Medium";}
.review_form .big_green_btn{width:100%;padding-left:0;padding-right:0;cursor:pointer}
.reviews_container{width:calc(100% - 400px);float:left;overflow:hidden;margin-top:100px;height:300px;position:relative}
.single_review_wrap{width:300px}
.single_review_title_wrap{color:#fff;font-family:'Franklin Gothic Demi Cond';font-size:1.25rem;text-transform:uppercase;margin-bottom:20px}
.single_review_title_wrap span{display:inline-block;font-size:1.1rem;font-family:"Franklin Gothic Book";color:#13777b;float:right;text-transform:none}
.addr_review{font-family:"Franklin Gothic Medium";color:#003333;font-size:1.2rem}
.text_review{font-family:"Franklin Gothic Book";color:#003333;font-size:1.2rem;line-height:22px;color:#fff;text-align:justify}
.reviews_control{height:30px;width:50px;background:url(../images/reviews_control.png) no-repeat center;position:absolute;z-index:3;bottom:0;left:0}
.reviews_all_link{height:20px;background:url(../images/reviews_all_link.png) no-repeat left center;position:absolute;z-index:3;bottom:0;right:0;color:#fff;font-size:15px;font-family:"Franklin Gothic Book";padding-left:35px;display:block;padding-top:4px;margin-right:100px;}
.reviews_control a{display:inline-block;width:15px;height:100%;background:url(../images/reviews_left.png) no-repeat center;cursor:pointer}
.reviews_control a.reviews_right{display:inline-block;width:15px;height:100%;background:url(../images/reviews_right.png) no-repeat center;float:right}
.news_item_wrap{width:270px;float:left;margin-right:30px}
.news_item_wrap img{max-width:100%}
.news_date{font-family:"Franklin Gothic Book";font-size:13px;color:#666666;margin:25px 0 10px 0}
.news_item_wrap h4{font-family:'Franklin Gothic Demi Cond';font-weight:normal;margin:0 0 20px 0}
.news_item_wrap p{font-family:"Franklin Gothic Book";font-size:1.2rem;color:#666;line-height:20px}
.news_full_link{font-family:'Franklin Gothic Demi Cond';color:#18b3b9;font-size:1.1rem;text-decoration:underline}
.row_have_a_question{background:#18b3b9;}
.row_have_a_question .container{background:url(../images/row_have_a_question.png) no-repeat left 20px;height:100%;padding-bottom:40px}
.have_a_question_title{float:left;margin:40px 0 0 150px;color:#fff;font-family:'Franklin Gothic Demi Cond';font-size:25px;text-transform:uppercase;}
.have_a_question_form{float:right;margin-top:45px}
.have_a_question_form input[type="text"]{height:46px;width:198px;padding:0 18px;border-radius:20px;border:none;margin-right:36px;font-size:15px}
.send_question_form{cursor:pointer;font-size:15px;text-transform:uppercase;color:#fff;height:16px;padding:14px 70px 16px 26px;border-radius:20px;background:url(../images/send_question_form.png) 130px center #15959a no-repeat;display:inline-block}
.row.row_footer{background:#15959a;padding-bottom:40px}
.footer_links_wrap{float:left;margin:35px 0 0 0}
.footer_links_wrap ul{display:block;margin:0;float:left;width:200px;padding:0}
.footer_links_wrap ul li{display:block;margin-bottom:16px}
.footer_links_wrap ul li a{color:#fff;font-size:15px;font-family:"Franklin Gothic Book";}
.footer_links_wrap ul li a:hover{color:#10484a;text-decoration:underline}
.footer_data_wrap{width:480px;color:#fff;float:right;margin-top:35px}
.footer_data_wrap .work_data{width:50%;float:left}
.work_data_title,.social_data_title{font-size:1.2rem;font-family:"Franklin Gothic Book";margin-bottom:16px}
.work_data_text{font-size:20px;font-family:'Franklin Gothic Demi Cond';line-height:30px}
.work_data_text a{color:#fff}
.work_data_text span{font-size:15px;color:#31d6dd;width:40px;display:inline-block}
.work_data_text a span{font-size:20px;margin:0;width:auto}
.social_wrap{width:100%;float:left;clear:both;margin-top:10px}
.social_links_wrap{width:100%;float:left;clear:both}
.social_links_wrap a{display:inline-block;margin-right:8px;height:30px}
.social_links_wrap a.fb{width:31px;background:url(../images/fb.png) no-repeat center}
.social_links_wrap a.fb:hover{background:url(../images/fb_hover.png) no-repeat center}
.social_links_wrap a.vk{width:31px;background:url(../images/vk.png) no-repeat center}
.social_links_wrap a.vk:hover{background:url(../images/vk_hover.png) no-repeat center}
.social_links_wrap a.ok{width:31px;background:url(../images/ok.png) no-repeat center}
.social_links_wrap a.ok:hover{background:url(../images/ok_hover.png) no-repeat center}
.social_links_wrap a.utube{width:37px;background:url(../images/utube.png) no-repeat center}
.social_links_wrap a.utube:hover{background:url(../images/utube_hover.png) no-repeat center}
.social_links_wrap a.twi{width:31px;background:url(../images/twi.png) no-repeat center}
.social_links_wrap a.twi:hover{background:url(../images/twi_hover.png) no-repeat center}
.social_links_wrap a.inst{width:30px;background:url(../images/inst.png) no-repeat center}
.social_links_wrap a.inst:hover{background:url(../images/inst_hover.png) no-repeat center}
.social_links_wrap a.artel{width:89px;background:url(../images/artel.png) no-repeat center;}
.social_links_wrap a.artel:hover{background:url(../images/artel_hover.png) no-repeat center}
.copyright{width:100%;margin-top:20px;font-size:15px;font-family:"Franklin Gothic Book";color:#0e5a5d;text-align:center;float:left}
.disclaimer{color:#fff;float:left;width:100%;margin-left:0%;font-family:"Franklin Gothic Book";text-align:center;margin-top:15px;font-size:2rem}
.footer_agree{color:#fff;margin:10px 0 0 0}
.footer_agree a{color:#fff;text-decoration:underline}
.social_links_only{display:inline-block;width:50%}
.row_search{height:calc(100% - 180px);background:#09ada8;position:fixed;left:0;color:#fff;z-index:5;top:-1000%;-webkit-transition-duration:0s;-moz-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s;}
.row_search.active{top:180px;bottom:0;height:auto}
.row_search.active.higher{top:54px;height:calc(100% - 54px);}
.find_scrubs_wrap{float:left;width:calc(100% - 740px);position:relative}
.find_scrubs_title{margin-top:24px;text-transform:uppercase;font-size:14px;}
.search_body{width:calc(100% - 30px);border-right:1px solid #1b989d;padding-right:30px}
.search_body .search_field{padding:24px 0 20px 0}
.search_body .search_field input[type="text"]{width:calc(100% - 100px);height:40px;border:none;border-radius:15px;padding:0 15px;float:left}
.search_body .search_field a{display:inline-block;height:40px;width:40px;background:url(../images/lupa.png) no-repeat center #0abab5;border-radius:15px;margin-left:30px;cursor:pointer}
.search_results_title{font-size:14px;border-bottom:1px solid #1b989d;padding-bottom:7px;margin-bottom:24px}
.search_results_data a{color:#fff;font-size:15px;font-family:"Franklin Gothic Book";display:block;margin-bottom:12px}
.search_results_data .program_old{font-size:15px;}
.look_all_scrubs{display:block;float:left;text-transform:uppercase;font-size:15px;color:#fff;padding-right:42px;background:url(../images/look_all_scrubs.png) no-repeat center right;height:23px;bottom:24px;left:0;margin-top:20px}
.row_search_close{display:block;float:right;width:36px;height:36px;background:url(../images/row_search_close.png) no-repeat center right;clear:both;cursor:pointer}
.find_special_wrap{float:left;width:710px;padding-left:30px;padding-top:16px}
.search_specialist_row{width:100%;float:left;clear:both;padding:14px 0 26px 0}
.search_specialist_row .green_btn{margin-right:10px;margin-bottom:10px;font-size:1.1rem;padding:9px 22px;}
.select2-container--default .select2-selection--single{border:none;border-radius:15px;height:40px;font-size:1.25rem;font-family:"Franklin Gothic Book";}
.select2-container--default .select2-results > .select2-results__options{font-size:1.25rem;border:none;font-family:"Franklin Gothic Book";}
.select2-dropdown{border:none}
.select2-container{margin-right:30px}
.select2-container:last-child{margin-right:0}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height:40px}
.select2-container--default .select2-selection--single .select2-selection__arrow{height:40px;width:40px}
.select2-container--default .select2-selection--single .select2-selection__arrow{top:0;right:0;background:url(../images/arrow_select.png) no-repeat center}
.select2-container--default .select2-selection--single .select2-selection__arrow b{border:none}
.find_special_wrap_content .search_results{float:left;width:100%;height:calc(100% - 80px);overflow:hidden}
.find_special_wrap_content .search_results .mCSB_container{-webkit-column-width:28%;-moz-column-width:28%;column-width:28%;-webkit-column-count:3;-moz-column-count:3;column-count:3;-webkit-column-gap:5%;-moz-column-gap:5%;column-gap:5%;}
.search_results_data{float:left;height:calc(100% - 40px);width:100%}
.find_special_wrap_content{float:left;width:100%;clear:both;height:calc(100% - 120px)}
.row_row_have_a_question_title{height:84px;background-color:#0abab5;position:absolute;bottom:0;left:0;-webkit-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);}
.row_row_have_a_question_title .have_a_question_title{margin:10px 0 0 100px;font-size:20px}
.row_row_have_a_question_title .container{background:rgba(0, 0, 0, 0) url("../images/row_have_a_question.png") no-repeat scroll left 10px;height:100%;background-size:70px}
.row_row_have_a_question_title .have_a_question_form{margin-top:15px;float:left;margin-left:25px}
.row_row_have_a_question_title .have_a_question_form .footer_agree{margin-top:5px}
.row_row_have_a_question_title .have_a_question_form input[type="text"]{height:36px;width:140px;font-size:15px;margin-right:25px}
.row_row_have_a_question_title .send_question_form{height:14px;padding:10px 60px 12px 15px;font-size:13px;background:#15959a url("../images/send_question_form.png") no-repeat scroll 100px center;}
.send_replay_wrap{background:url(../images/send_replay.png) no-repeat right top;float:right}
.send_replay{float:right;width:345px;border-left:1px solid #11979c;height:50px;margin-top:20px;}
.send_replay .send_replay_link{margin-left:32px;display:inline-block;font-size:15px;text-transform:uppercase;font-family:'Franklin Gothic Demi Cond';padding-top:15px;}
.find_special_wrap_content .search_results_data a{display:block;margin:0;margin-bottom:12px;clear:both}
.search_results .mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools,.search_results .mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools{opacity:1}
.search_results .mCS-minimal.mCSB_scrollTools .mCSB_draggerRail,.search_results .mCS-minimal-dark.mCSB_scrollTools .mCSB_draggerRail{background:#15959a}
input[type="text"].failed_input{border:1px solid rgb(233, 64, 103);background:#fdafaf}
.failed_label{background:#fdafaf;padding:0 5px;}
.row.row_title_image{height:110px;background:url(../images/row_title_image.jpg) no-repeat center;background-size:cover}
.row.row_title_image h1,.row.row_title_image .h1_substitute{color:#14454c;text-transform:uppercase;font-family:'Franklin Gothic Demi Cond';margin-top:35px}
.row_breadcrumbs ul{display:block;float:left;margin:0;padding:16px 0;font-family:"Franklin Gothic Book";color:#666666;font-size:13px}
.row_breadcrumbs ul li{display:inline-block}
.row_breadcrumbs ul li,.row_breadcrumbs ul li a{font-family:"Franklin Gothic Book";color:#666666;font-size:15px}
.left_menu{float:left;width:255px}
.block_with_left_menu{float:left;width:calc(100% - 292px);border-left:1px solid #d5d5d5;padding-left:36px;margin-bottom:65px;}
.search_service{display:block;float:left;height:36px;width:70%;border:1px solid #a8a8a8;border-radius:10px;margin-bottom:30px;padding:0 15px}
.toggle_wrapper{width:100%;float:left;clear:both;margin-bottom:20px}
.toggle_wrapper a.toggle_title{width:100%;border-bottom:1px solid #0abab5;float:left;background:url(../images/toggle_title.png) no-repeat center right;cursor:pointer}
.toggle_wrapper a.toggle_title.active{width:100%;border-bottom:1px solid #0abab5;float:left;background:url(../images/toggle_title_opened.png) no-repeat center right}
.toggle_wrapper a.toggle_title h2{float:left;color:#0abab5;text-transform:uppercase;margin-bottom:15px;font-weight:500}
.toggle_data{column-count:3;width:100%;-moz-column-count:3;-webkit-column-count:3;padding:20px 0 0 0;font-size:1.25rem;line-height:30px;display:none}
.toggle_data a{color:#101010;}
.searh_service_container{float:left;padding:0 0 15px 0}
.searh_service_container .green_btn{color:#fff;margin-left:20px;top:-1px;position:relative}
.row_speciality_rule{padding:35px 0;}
.text_search_speciality_long_wrap .select2-container{margin-right:26px;text-align:left}
.row_speciality_rule .container{border-bottom:1px solid #cccccc;margin-bottom:0px;padding-bottom:25px}
.text_search_speciality_wrap{float:left;width:345px;padding:10px 0}
.text_search_speciality_long_wrap{float:left;width:calc(100% - 401px);border-left:1px solid #cccccc;padding:10px 0 10px 55px;opacity:0;text-align: right;}
.row.specialists_row{margin-bottom:100px}
.row.specialists_row .toggle_data{column-count:1;-moz-column-count:1;-webkit-column-count:1;padding-top:30px}
.single_scrubs_wrap{display:block;position:relative;background:#ffffff;width:230px;height:420px;float:left;font-family:"Franklin Gothic Book";margin-right:30px;margin-bottom:20px;color:#000}
.single_scrubs_img{float:left;height:270px;overflow:hidden}
.single_scrubs_img img{max-width:100%}
.single_scrubs_wrap h4{font-weight:500;margin:10px;line-height:20px;border-bottom:1px solid #dedddd;float:left;padding-bottom:14px;width:calc(100% - 30px)}
.single_scrubs_wrap .single_scrubs_text{padding:0 15px;font-size:13px;color:#666666;line-height:20px}
.single_scrubs_wrap:hover{-webkit-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);}
.single_scrubs_wrap:hover .single_scrubs_border{width:calc(100% - 4px);height:2px;background:#18b3b9;position:absolute;bottom:2px;left:2px}
.paginate_scrubs_ul{display:block;float:left;width:100%;margin:0;padding:0}
.paginate_scrubs_ul li{display:block;float:left;margin:0;padding:0}
.paginate_scrubs_navigation{width:100%;text-align:center;float:left}
.paginate_scrubs_navigation a{color:#333333;font-size:15px;background:#f4f4f4;display:inline-block;height:33px;padding:2px 6px;text-align:center}
.paginate_scrubs_navigation a.active_page{color:#fff;background:#15959a}
.paginate_scrubs_navigation a.first_link,.paginate_scrubs_navigation a.previous_link,.paginate_scrubs_navigation a.next_link,.paginate_scrubs_navigation a.last_link,paginate_scrubs_navigation span.ellipse{display:none}
.doctor_main_data_wrap{width:calc(100% - 290px);float:left;margin-bottom:150px}
.image_n_sign_wrap{width:300px;float:left;margin-right:40px;position:relative;}
.image_n_sign_wrap .order_doctor{height:35px;padding:15px 0 0 90px;width:210px;text-align:left;background:url(../images/order_doctor.png) no-repeat 38px center #0abab5;margin-top:25px}
.doctor_text_data_wrap h1{font-family:'Franklin Gothic Demi Cond';font-weight:500;text-transform:uppercase;margin:0 0 15px 0;color:#00abb2}
.doctor_text_data{width:100%;font-family:"Franklin Gothic Book";font-size:1.3rem;line-height:1.8rem}
.doctor_text_data dl{display:block;float:none;margin-left:35px}
.clinic_wrap .doctor_text_data dl{display:block;float:none;margin-left:0}
.doctor_text_data dt,.doctor_text_data span.bold{color:#666666;font-size:1.3rem;margin-bottom:5px}
.doctor_text_data_wrap{margin-left:0px;width:calc(100% - 340px);float:right}
.doctor_text_data dl{margin-left:0}
.doctor_text_data dd{color:#000000;font-size:1.3rem;margin-bottom:20px;margin-left:0}
.structured_data_wrap{width:100%;float:left;clear:both;margin-top:30px;position:relative;}
.structured_data_wrap h2{text-transform:uppercase;font-weight:500;color:#101010;border-bottom:2px solid #18b3b9;padding:0 0 15px 25px;margin:0 0 20px 0}
.structured_data_content_wrap{padding-left:25px;font-size:1.1rem;margin-bottom:10px;float:left;width:calc(100% - 25px)}
#specialist_switch .structured_data_content_wrap{width:100%;padding-left:0}
.structured_data_content_wrap span{color:#18b3b9;line-height:20px}
.structured_data_title{width:calc(100% - 20px);display:block;float:left;height:40px;background:#dedede;padding:0 0 0 20px;cursor:pointer}
.structured_data_title.active{background:#0abab5;-webkit-box-shadow:0px 5px 5px 0px rgba(50, 50, 50, 0.5);-moz-box-shadow:0px 5px 5px 0px rgba(50, 50, 50, 0.5);box-shadow:0px 5px 5px 0px rgba(50, 50, 50, 0.5);}
.structured_data_title.active h4{color:#fff}
.structured_data_title h4{text-transform:uppercase;font-family:'Franklin Gothic Demi Cond';margin-top:11px;float:left;font-weight:500}
.structured_data_title span{display:block;float:right;width:40px;background:#b6b5b5;text-align:center;height:32px;padding-top:8px;color:#fff;font-size:13px;text-transform:uppercase;font-family:'Franklin Gothic Demi Cond';}
.structured_data_title.active span{background:#199da2;color:#fff}
.structured_data_table_wrap{width:calc(100% - 20px);float:left;margin-left:20px;margin-top:30px;margin-bottom:30px;display:none}
.structured_data_table_line{width:100%;float:left;}
.structured_data_table_line .structured_data_table_line_border{border:1px solid #b7b7b7;float:left;width:690px;padding:13px 10px;border-bottom:none}
.structured_data_table_line:last-child .structured_data_table_line_border{border-bottom:1px solid #b7b7b7}
.structured_data_table_line_border h4{margin:0;padding:0;float:left;width:calc(100% - 70px);font-weight:500}
.structured_data_table_line_border h4 a{color:#18b3b9}
.structured_data_table_line_border .structured_data_table_line_price{float:right;font-size:15px}
.structured_data_table_link{float:right;color:#18b3b9;font-size:12px;text-transform:uppercase;margin-top:15px;cursor:pointer}
.structured_data_table_link.added{color:#992926}
.back_to_specials_wrap{width:100%;text-align:center;margin-top:70px;float:left}
.back_to_specials_btn{background:url(../images/back_to_specials_btn.png) no-repeat 10px center #0abab5;padding-left:40px}
.doctors_additional_panel{float:right;width:290px;height:800px}
.doctors_additional_panel h5{width:100%;text-align:center;text-transform:uppercase;font-weight:500;}
.doctors_additional_panel .single_scrubs_wrap{display:inline-block;float:none;margin-right:0;color:#101010}
.doctors_additional_panel #mCSB_1_container{text-align:center}
.doctors_additional_panel .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, .doctors_additional_panel .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical{left:0}
.doctor_main_data_wrap .structured_data_content_wrap{font-size:1.3rem}
.doctors_additional_panel .mCS-minimal.mCSB_scrollTools .mCSB_draggerRail, doctors_additional_panel .mCS-minimal-dark.mCSB_scrollTools .mCSB_draggerRail{background-color:#15959a;opacity:1}
.doctors_additional_panel.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools, .doctor_main_data_wrap .doctors_additional_panel.mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools{opacity:1}
.doctors_additional_panel .mCSB_scrollTools div{opacity:1}
.doctors_additional_panel.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools, .doctors_additional_panel.mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools{opacity:1}
.doctors_additional_panel .mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color:#fff}
.row_price .container{position:relative}
.price_list_wrap{width:65%;float:left;margin-bottom:50px;position:relative;z-index:1}
.price_list_wrap .structured_data_wrap{margin-top:0;margin-bottom:25px}
.price_list_wrap .structured_data_wrap .structured_data_content_wrap{width:100%;padding-left:0}
.structured_data_table_line .structured_data_table_line_border{width:calc(100% - 120px)}
.price_list_wrap .structured_data_wrap .structured_data_table_wrap h3{font-weight:500;margin:20px 0 10px 0;float:left}
.price_list_wrap .structured_data_wrap .structured_data_table_wrap h3:first-child{margin-top:0}
.row_price .container .service_result_wrap_wrap{position:absolute;width:100%;z-index:0;top:0;left:0}
.row_price .container .service_result_wrap{position:relative;float:right;width:30%;top:0px}
.service_result_wrap_inner{margin:0 auto;width:100%;display:table}
.row_price .container .service_result_wrap_wrap.sticky{position:fixed;top:70px;}
.sticky .service_result_wrap_inner{margin:0 auto;width:94%;max-width:1200px;display:table}
.service_result_calc_wrap{background:#fff;margin-bottom:100px;padding-bottom:15px}
.service_result_title{width:calc(100% - 55px);padding-left:55px;font-size:1rem;background:url(../images/service_result_title.png) no-repeat center left;color:#333333;margin-bottom:20px}
.service_result_total{width:calc(100% - 60px);height:35px;padding:15px 30px 0 30px;background:#18b3b9;color:#fff;font-size:15px;font-family:'Franklin Gothic Demi Cond';text-transform:uppercase}
.service_result_total span{float:right;font-size:20px;position:relative;top:-3px}
.service_result_data_wrap{width:100%}
.service_result_data_line{height:50px;font-size:1.1rem;color:#101010;display:table-row}
.service_result_data_line_row{display:table-cell;vertical-align:middle;width:calc(100% - 30px);padding:0px 50px 0 30px;position:relative}
.service_result_data_title{width:calc(100% - 10px)}
.service_result_data_line:nth-child(2n){background:#f4f4f4;}
.service_result_data_drop{float:right;width:13px;height:13px;background:url(../images/service_result_data_drop.png) no-repeat center;display:block;position:absolute;right:30px;top:17px;cursor:pointer}
.total_data{width:calc(100% - 60px);margin:0 30px 20px 30px;text-align:center;border-top:1px solid #d4d4d4;padding-top:20px;font-size:15px;text-transform:uppercase;color:#18b3b9;font-size:15px}
.total_data span{display:inline-block;margin-left:12px;font-size:20px;text-transform:none}
.service_result_wrap .green_btn{width:calc(100% - 60px);padding-left:0;padding-right:0;text-align:center;margin-left:30px;}
.row.row_single_service .container{display:block}
.single_service_left_list_wrap{float:left;width:320px;padding-top:85px;margin-bottom:100px}
.single_service_left_list_wrap h3{font-size:15px;font-weight:500;padding-bottom:10px;text-transform:uppercase;border-bottom:1px solid #0abab5;margin:0;background:url(../images/single_service_left_list.png) no-repeat right 5px}
.single_service_left_list{width:225px;background:#fff;padding:15px 20px 15px 15px}
.single_service_left_list ul{margin:0;padding:10px 0 0 0}
.single_service_left_list ul li{display:block;margin-bottom:5px}
.single_service_left_list ul li a{color:#666666;font-size:15px;font-family:"Franklin Gothic Book";}
.single_service_left_list ul li.active a,.single_service_left_list ul li:hover a{color:#0abab5;text-decoration:underline}
.single_service_left_list ul li ul.subservices{margin-left:10px}
.single_service_left_list ul li ul.subservices li a{font-size:13px;color:#666}
.single_service_left_list ul li ul.subservices li.active a{font-size:13px;color:#0abab5}
.single_service_wrap{float:left;width:calc(100% - 320px);padding-bottom:100px}
.single_service_wrap .h1_substitute,.single_service_wrap h1{text-transform:uppercase;font-weight:500;color:#0abab5;margin:30px 0 30px 0}
.swither_wrap{float:left;width:100%;clear:both}
.swither_wrap a{background:#fff;width:33%;display:block;float:left;text-align:center;height:30px;padding:12px 0 0 0;font-size:13px;text-transform:uppercase;color:#000;cursor:pointer;position:relative;z-index:1;border-right:1px solid #f4f4f4}
.swither_wrap a.active{z-index:2;background:#f4f4f4;color:#11979c}
.switch_text{font-size:1.3rem;font-family:"Franklin Gothic Book";color:#101010;padding-top:25px;float:left;width:100%;display:none;position:relative;height:auto;-webkit-transition-duration:1s;-moz-transition-duration:1s;-o-transition-duration:1s;transition-duration:1s;}
.simple_service .switch_text{padding-top:0}
.simple_service .switch_text p:first-child{margin-top:0}
.children_page .switch_text{padding-top:0}
.switch_text a{color:#0abab5}
.switch_text.active{display:block}
.switch_text.rolled_up{height:auto;max-height:305px;overflow:hidden;}
.switch_text.rolled_up:after{display:block;position:absolute;bottom:0;height:50px;width:100%;content:" ";background-image:linear-gradient(rgba(244,244,244,0),rgb(244,244,244));}
.wrap_specialists_carousel{float:left;width:100%;position:relative;margin-top:20px}
.wrap_komplex_kids_carousel{float:left;width:100%;position:relative;}
.open_switch_text_wrap{width:100%;float:left;width:100%;text-align:center;height:30px}
.open_switch_text{background:url(../images/down_text.png) no-repeat center;width:100px;height:20px;padding:10px 0 0 0;cursor:pointer;margin-top:10px;display:inline-block}
.open_switch_text.opened{background:url(../images/up_text.png) no-repeat center;}
.switch_text h2{font-family:"Franklin Gothic Medium";font-weight:500;text-transform:uppercase}
.switch_text strong,.switch_text b,.switch_text h3,.switch_text h4,.switch_text h5{font-family:"Franklin Gothic Medium";font-weight:500;}
.switch_text table img{max-width:100%;height:auto!important}
#specialist_switch .structured_data_wrap{margin-top:0}

@media screen and (max-width:675px){
    .open_switch_text_wrap{height:60px;}
    .open_switch_text{padding:0;height:50px;}
}

.row.children_page .container{display:block}

.row.row_speciality_rule.children_page{padding:0}
.row.specialists_row.children_page{margin-bottom:0}

.row.row_title_image_kids{height:110px;background:url(../images/row_title_image_kids.jpg) no-repeat center;background-size:cover}
.row.row_title_image_kids h1,.row.row_title_image_kids .h1_substitute{color:#14454c;text-transform:uppercase;font-family:'Franklin Gothic Demi Cond';margin-top:35px}

.children_page .complex_teasers_wrap{margin:0;text-align: center;display: flex;justify-content: center;flex-wrap: wrap;}
.children_page .complex_teasers_wrap .complex_teaser{width:18%;padding:90px 22px 20px;float:initial;font-family:"Franklin Gothic Book";font-size:1.2rem;height:auto;margin:10px;box-shadow: #cecece 0px 5px 25px;/*display:inline-table;*/box-sizing:border-box;text-align:initial;}
.children_page .complex_teasers_wrap .complex_teaser:hover{opacity:1}
.children_page .complex_teasers_wrap .complex_teaser:last-child{margin-right:0}
.children_page .complex_teasers_wrap .complex_teaser .complex_teaser_title{font-family:"Franklin Gothic Medium";text-transform:uppercase;margin-bottom:5px}
.children_page .complex_teasers_wrap .complex_teaser p{margin:0}
@media screen and (max-width:1295px){
    .children_page .complex_teasers_wrap .complex_teaser{width:13%;/*height:130px;*/}
}
@media screen and (max-width:1100px){
    .children_page .complex_teasers_wrap .complex_teaser{width:26%;font-size:1.2rem;/*height:90px;*/margin-bottom:15px;}
}
@media screen and (max-width:915px){
    .children_page .complex_teasers_wrap .complex_teaser{width:41%;font-size:1.3rem;/*height:90px;*/margin-bottom:15px;background-size: 15%!important;}
}
@media screen and (max-width:772px){
    .children_page .complex_teasers_wrap .complex_teaser{width:40%;font-size:1.2rem;/*height:130px;*/}
}
@media screen and (max-width:696px){
    .children_page .complex_teasers_wrap .complex_teaser{width:39%;}
}
@media screen and (max-width:634px){
    .children_page .complex_teasers_wrap .complex_teaser{width:100%;background-size: 8%!important;}
}

/*.single_service_wrap_wide{width:100%}*/

.specialists_carousel{position:relative;width:calc(100% - 140px);overflow:hidden;height:465px;padding-top:20px;margin-left:70px}
.specialists_carousel_link{width:47px;height:49px;position:absolute;background-color:#0abab5;left:0px;top:200px;cursor:pointer;background-image:url(../images/specialists_carousel_link_left.png);background-position:center;background-repeat:no-repeat}
.specialists_carousel_link.specialists_carousel_link_left:hover{background-image:url(../images/specialists_carousel_link_left_hover.png);background-color:#fff;-webkit-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);}
.specialists_carousel_link.specialists_carousel_link_right{background-image:url(../images/specialists_carousel_link_right.png);right:0;left:auto}
.specialists_carousel_link.specialists_carousel_link_right:hover{background-image:url(../images/specialists_carousel_link_right_hover.png);background-color:#fff;-webkit-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);}

.komplex_kids_carousel{position:relative;max-width:100%;overflow:hidden;height:230px;margin:0 70px}
.komplex_kids_carousel_link{width:47px;height:49px;position:absolute;background-color:#0abab5;left:0px;top:90px;cursor:pointer;background-image:url(../images/specialists_carousel_link_left.png);background-position:center;background-repeat:no-repeat}
.komplex_kids_carousel_link.komplex_kids_carousel_link_left:hover{background-image:url(../images/specialists_carousel_link_left_hover.png);background-color:#fff;-webkit-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);}
.komplex_kids_carousel_link.komplex_kids_carousel_link_right{background-image:url(../images/specialists_carousel_link_right.png);right:0;left:auto}
.komplex_kids_carousel_link.komplex_kids_carousel_link_right:hover{background-image:url(../images/specialists_carousel_link_right_hover.png);background-color:#fff;-webkit-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);}
.komplex_kids_carousel .swiper-slide{overflow:hidden;position:relative;}
.komplex_kids_carousel .single_scrubs_wrap{height: 230px;margin:0}
.komplex_kids_carousel .single_scrubs_wrap h4 {border-bottom: none;padding-bottom:0;margin-bottom:0}
.komplex_kids_carousel .single_scrubs_wrap .single_scrubs_text {height: 115px;overflow: hidden;}
.komplex_kids_carousel .single_scrubs_img{height: 160px;float: initial}
.komplex_kids_carousel .single_scrubs_img img{max-width:100%}
.komplex_kids_carousel .single_scrubs_overlay {height: 230px;position: absolute;bottom:-100%;padding:20px 15px;box-sizing:border-box;
    background:linear-gradient(to top, rgba(12,232,226,0.9) 50%,rgba(17, 147, 151,0.95));/*#0abab5 #0ce8e2 */color:#fff;-webkit-transition-duration:1s;-moz-transition-duration:1s;-o-transition-duration:1s;transition-duration:1s;}
.komplex_kids_carousel a:hover .single_scrubs_overlay{bottom:0;left:0}
.komplex_kids_carousel .single_scrubs_overlay_title{font-size:1.5rem;font-family:"Franklin Gothic Book";text-align:center;font-weight:bold;text-transform:uppercase;line-height:22px;color:#fff;}
.komplex_kids_carousel .single_scrubs_overlay_text{font-family:"Franklin Gothic Book";font-size:14px;height:100px;}
.komplex_kids_carousel .single_scrubs_overlay_price{font-family:"Franklin Gothic Book";font-size:1.5rem;font-weight: bold;text-align: center;background: #b0224a;padding: 5px;width:120px;border-radius: 5px;margin: 0 auto;}

@media screen and (max-width:675px){
    .komplex_kids_carousel {height: 460px;width:460px;}
    .komplex_kids_carousel .single_scrubs_wrap{width:460px;height:460px;margin-right:0}
    .komplex_kids_carousel .single_scrubs_wrap h4 {display:none}
    .komplex_kids_carousel .single_scrubs_img {height: 230px;}
    .komplex_kids_carousel .single_scrubs_overlay{width:460px;position:static;background: linear-gradient(to top, rgba(12,232,226,1) 0%, transparent 100%),rgba(10,186,181,1);}
    .komplex_kids_carousel .single_scrubs_overlay_title{height:60px;}
    .komplex_kids_carousel .single_scrubs_overlay_text{height:80px;}
    .komplex_kids_carousel_link{top:200px;}
}

ul.images_specialists{display:block;float:left;margin:0;padding:20px 0 0 0}
ul.images_specialists li{display:block;float:left;margin:0 20px 20px 0;padding:0}
.row.row_complex h1{text-transform:uppercase;font-family:"Franklin Gothic Demi Cond";margin:20px 0 20px 0;font-weight:500}
.complex_pretext{font-family:"Franklin Gothic Book";font-size:1.33rem;float:left;width:100%}
.complex_teasers_wrap{float:left;width:100%;margin:55px 0}
.complex_teasers_wrap .complex_teaser{width:calc(25% - 92px);padding-left:72px;float:left;font-family:"Franklin Gothic Book";font-size:1.3rem;background-position:left top;background-repeat:no-repeat;height:110px;margin-right:20px}
.complex_teasers_wrap .complex_teaser:hover{opacity:0.7}
.complex_teasers_wrap .complex_teaser:last-child{margin-right:0}
.complex_teasers_wrap .complex_teaser .complex_teaser_title{font-family:"Franklin Gothic Medium";text-transform:uppercase;margin-bottom:5px}
.complex_teasers_wrap .complex_teaser p{margin:0}
.complex_teasers_wrap .complex_teaser.complex_confidence{background-image:url(../images/complex_confidence.png)}
.complex_teasers_wrap .complex_teaser.complex_economy{background-image:url(../images/complex_economy.png)}
.complex_teasers_wrap .complex_teaser.complex_economy_money{background-image:url(../images/complex_economy_money.png)}
.complex_teasers_wrap .complex_teaser.complex_individual{background-image:url(../images/complex_individual.png)}
.select_programs_wrap{float:left;width:100%;border-bottom:1px solid #d4d4d4;padding:0 0 35px 0;margin:0 0 30px 0}
.select_programs_wrap>div{float:left}
.select_programs_wrap .adults_child_wrap{border:1px solid #c0c0c0;border-radius:20px;height:28px;background:#fff;font-family:"Franklin Gothic Demi Cond";font-size:12px;text-transform:uppercase;}
.select_programs_wrap .adults_child_wrap>a{padding:7px 28px 0 28px;height:21px;display:inline-block;border-radius:20px;color:#18b3b9;cursor:pointer}
.select_programs_wrap .adults_child_wrap>a.active{background:#0abab5;color:#fff}
.count_contest_wrapper{margin-left:100px;font-family:"Franklin Gothic Book";}
.count_contest_text_1,.count_contest_text_2{font-size:14px;float:left;color:#18b3b9;padding-top:5px}
.count_contest_text_data{float:left;border:1px solid #c1c1c1;background:#fff;border-radius:20px;width:36px;text-align:center;font-size:14px;padding:4px 0 5px 0;margin:0 10px}
.count_contest_text_2{color:#000}
a.contest_button{padding:7px 28px 0 28px;height:21px;display:inline-block;border-radius:20px;color:#18b3b9;cursor:pointer;margin-left:30px;background:#0abab5;color:#fff;font-family:"Franklin Gothic Demi Cond";font-size:12px;text-transform:uppercase;}
.list_programs_wrap{margin-bottom:100px;width:100%;float:left}
.single_program{width:calc(47% - 30px);margin-right:6%;float:left;background:#fff;padding:20px 10px 10px 20px;height:80px;position:relative;margin-bottom:20px;color:#000;-webkit-box-shadow:0px 2px 5px 0px rgba(50, 50, 50, 0.75);-moz-box-shadow:0px 2px 5px 0px rgba(50, 50, 50, 0.75);box-shadow:0px 2px 5px 0px rgba(50, 50, 50, 0.75);}
.single_program:nth-child(2n){margin-right:0}
.single_program h3{margin:0;font-family:"Franklin Gothic Demi Cond";font-weight:500;}
.single_program:hover h3{color:#18b3b9;text-decoration:underline}
.single_program .single_program_footer{position:absolute;bottom:0;left:0;width:calc(100% - 30px);bottom:10px;left:20px}
.price_prog_wrap{float:left;font-family:"Franklin Gothic Demi Cond";font-size:16px;}
.price_prog_wrap span{font-size:1.17rem;font-family:"Franklin Gothic Book";color:#666666}
.price_prog_wrap span.price{color:#18b3b9;font-family:"Franklin Gothic Demi Cond";font-size:1.33rem;}
.add_to_contest{font-family:"Franklin Gothic Book";color:#666;font-size:1.17rem;float:right;padding-right:30px;background:url(../images/add_to_contest.png) no-repeat center right;display:block;height:18px;cursor:pointer}
.add_to_contest:hover{color:#18b3b9}
.add_to_contest.delete_from_contest{color:#e94067}
.programm_legend_wrap_page{width:100%;float:left;margin-bottom:20px}
.programm_legend_wrap_page .programm_legend_item_wrap{width:30%;float:left;font-size:1.3rem;margin-right:5%}
.programm_legend_wrap_page .programm_legend_item_wrap:last-child{margin-right:0}
.programm_legend_wrap_page .programm_legend_item_wrap .programm_legend_item{float:left;padding-top:0;font-size:2rem;font-family:"Franklin Gothic Demi Cond";color:#949494;padding-bottom:0}
.programm_legend_wrap_page .programm_legend_item_wrap .programm_legend_data{float:left;padding:0;font-size:1.5rem;font-family:"Franklin Gothic Book";clear:both}
.single_medical_program_banner{width:100%;height:550px;position:relative}
.single_medical_program_banner .overlay{background:rgba(0,0,0,0.45);width:100%;height:100%;position:absolute}
.single_medical_program_banner .overlay .row.row_have_a_question{position:absolute;bottom:0;background:rgba(0,0,0,0.45);}
.single_medical_program_banner .overlay .row.row_have_a_question .container{background-image:none}
.single_medical_program_banner .overlay .row.row_have_a_question .container .have_a_question_title{margin-left:0}
.single_medical_program_banner .overlay .row.row_have_a_question .container .have_a_question_form input[type="text"]{background:rgba(255,255,255,0.45);color:#fff}
.single_medical_program_banner .container{height:100%}
.single_medical_program_banner .container h1{color:#fff;font-weight:500;text-align:center;font-family:"Franklin Gothic Medium";margin-top:110px;margin-bottom:50px;text-transform:uppercase}
.row.row_medical_programm_price{text-align:center;padding:0px 0 20px 0}
.row.row_medical_programm_price .medical_programm_price_text{font-size:36px;font-family:"Franklin Gothic Book";}
.row.row_medical_programm_price .medical_programm_price_data{font-size:48px;font-family:"Franklin Gothic Demi Cond";color:#00abb2;}
.row.row_medical_programm_price.medical_programm_target .container{font-size:2rem;font-family:"Franklin Gothic Book";}
.row.row_medical_programm_subtitle{font-size:36px;font-family:"Franklin Gothic Book";color:#666666;text-align:center}
.medical_program_banner_icon_wrap{width:100%;text-align:center}
.medical_program_banner_icon_wrap .medical_program_banner_icon_item{display:inline-block;color:#fff;text-align:center;width:25%;float:left}
.medical_program_banner_icon_wrap .medical_program_banner_icon_item .medical_program_banner_icon_text{font-size:1.3rem;font-family:"Franklin Gothic Book"}
.row.row_complex_contest .container{display:block}
.row.row_complex_contest .container h1{text-transform:uppercase;font-family:"Franklin Gothic Demi Cond";margin:20px 0 40px 0;font-weight:500}
.programm_legend_wrap{width:175px;float:left;padding-top:170px;}
.programm_legend_item{font-size:13px;color:#666666;padding:15px 0px 16px 0}
.program_column{border:1px solid #d6cfcf;width:270px}
.swiper-slide .program_column{border-right:none;text-align:left}
.swiper-slide:hover .program_column{position:relative;z-index:2;-webkit-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);}
.swiper-slide:last-child .program_column{border-right:1px solid #d6cfcf;}
.program_column_title{border-bottom:1px solid #b7b7b7;background:#fff9e9;padding:0 50px;display:table-cell;vertical-align:middle;height:76px;font-size:12px;text-transform:uppercase;width:170px}
.programm_column_cell{padding:15px 20px 15px 20px;font-family:"Franklin Gothic Book";font-size:12px;line-height:18px;color:#101010;background:#f8f8f8;border-bottom:1px solid #d6cfcf}
.programm_column_cell:nth-child(2n+1){background:#ffffff}
.programm_column_cell:last-child{border-bottom:none}
.programm_column_cell p{margin:0}
.programm_column_cell.programm_legend_item_price{font-size:15px;font-family:"Franklin Gothic Demi Cond";text-align:center}
.programs_carousel_block{margin-bottom:150px;float:left;width:calc(100% - 175px);position:relative}
.programs_carousel_wrap{width:calc(100% - 180px);overflow:hidden;}
.program_carousel_link{width:53px;height:58px;position:absolute;background-color:#0abab5;right:53px;top:92px;cursor:pointer;background-image:url(../images/specialists_carousel_link_left.png);background-position:center;background-repeat:no-repeat}
.program_carousel_link.program_carousel_link_left:hover{background-image:url(../images/specialists_carousel_link_left_hover.png);background-color:#fff;-webkit-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);}
.program_carousel_link.program_carousel_link_right{background-image:url(../images/specialists_carousel_link_right.png);right:0;left:auto}
.program_carousel_link.program_carousel_link_right:hover{background-image:url(../images/specialists_carousel_link_right_hover.png);background-color:#fff;-webkit-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);}
.programs_carousel_wrap .swiper-slide .order_program{display:inline-block;background:#0abab5;color:#fff;cursor:pointer;border-radius:15px;height:19px;padding:8px 25px 6px 25px;font-family:"Franklin Gothic Demi Cond";font-size:1rem;text-transform:uppercase;margin:0px 0 20px 0}
.programs_carousel_wrap .swiper-slide .drop_order_program{background:#e94067}
.programs_carousel_wrap .swiper-slide{text-align:center}
.column_line{z-index:0;width:0px;height:30px;border-left:2px dashed #0abab5;margin-left:50%;opacity:0}
.programs_carousel_wrap .swiper-slide:hover .column_line{opacity:1}
.row_speciality_rule.row_speciality_rule_news .container{padding-bottom:20px}
.row.row_title_h1 .container h1{margin:20px 0 0 0;font-weight:500;font-family:"Franklin Gothic Demi Cond";text-transform:uppercase;}
.news_type{float:left;margin:5px 0 0 0;padding:0}
.news_type li{display:inline-block;margin-right:25px;font-size:1.3rem;text-transform:uppercase}
.news_type li a{color:#666666;font-family:"Franklin Gothic Demi Cond";}
.news_type li a.active{color:#0abab5}
.news_select_wrap{float:right}
.news_select_wrap .select2-container--default .select2-selection--single{height:26px;border-radius:0}
.news_select_wrap .select2-container--default .select2-selection--single .select2-selection__rendered{line-height:26px;font-family:"Franklin Gothic Demi Cond";font-size:1rem;text-transform:uppercase}
.news_select_wrap .select2-container--default .select2-selection--single .select2-selection__arrow{height:26px;width:18px}
.news_select_wrap .select2-container--default .select2-selection--single .select2-selection__arrow{background:url(../images/arrow_select_white.png) no-repeat center #0abab5}
.news_on_page_all .container{padding-bottom:100px}
.single_news_item_page{width:44%;background:#fff;float:left;padding:1% 2%;margin-bottom:25px;margin-right:4%;color:#000}
.single_news_item_page:hover{-webkit-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);}
.single_news_item_page:nth-child(2n){margin-right:0}
.single_news_item_page h4{text-transform:uppercase;font-family:"Franklin Gothic Demi Cond";margin:0 0 30px 0;font-weight:500}
.img_news_wrap{float:left;width:170px}
.img_news_wrap span{font-size:1rem;margin-top:15px;display:inline-block}
.single_news_item_page_text{margin-left:30px;float:right;width:calc(100% - 200px)}
.single_news_item_page_text p{margin:0;font-size:1.2rem;font-family:"Franklin Gothic Book";line-height:1.6rem}
.single_news_item_page_link{display:block;background:url(../images/single_news_item_page_link.png) no-repeat center right;padding-right:36px;float:right;min-height:20px;font-family:"Franklin Gothic Demi Cond";color:#0abab5;font-size:1.3rem;text-transform:uppercase;padding-top:3px;margin-top:30px}
#search_news{background:#0abab5;display:inline-block;color:#fff;padding:5px 10px;cursor:pointer;font-size:1.2rem}
.pretext_news{font-family:"Franklin Gothic Demi Cond";font-size:1.7rem;margin:20px 0 20px 0;float:left}
.single_news_img{float:right;display:inline-block;margin-left:20px}
single_news_img img{max-width:100%}
.single_news_text{margin:20px 0 100px 0;font-size:1.25rem;font-family:"Franklin Gothic Book";float:left;width:100%}
.single_news_text strong{font-size:1.7rem;font-family:"Franklin Gothic Demi Cond";font-weight:500}
.single_news_text a{color:#0abab5}
.useful_news_on_page_all{padding-top:40px}
.useful_news_on_page_all .single_news_item_page{padding:0 2% 0 0;width:46%}
.useful_news_on_page_all .single_news_item_page:nth-child(2n){float:right}
.useful_news_on_page_all .single_news_item_page .single_news_item_page_text{width:calc(100% - 170px);margin-left:20px;padding-bottom:10px}
.useful_news_on_page_all .single_news_item_page .img_news_wrap{width:150px}
.useful_news_on_page_all .single_news_item_page .img_news_wrap a img{display:block;float:left}
.useful_news_on_page_all .single_news_item_page .single_news_item_page_text h4{margin:10px 0 10px 0}
.useful_news_on_page_all .single_news_item_page .single_news_item_page_text h4 a{color:#000}
.row.help_row .container{padding:40px 0px}
.help_item_wrap{display:block;width:44%;background:#fff;float:left;padding:1% 2%;margin-bottom:25px;margin-right:4%;color:#000;}
.help_item_wrap:hover{-webkit-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);background-color:#0abab5;color:#fff}
.help_item_wrap:nth-child(2n){margin-right:0}
.help_item_wrap h2{font-weight:500;font-family:"Franklin Gothic Demi Cond";text-transform:uppercase;margin:0;background-position:right top;background-repeat:no-repeat;height:90px}
.help_item_wrap.help_item_wrap_rules h2{background-image:url(../images/help_item_wrap_rules.png)}
.help_item_wrap.help_item_wrap_rules:hover h2{background-image:url(../images/help_item_wrap_rules_hover.png)}
.help_item_wrap.help_item_wrap_discont h2{background-image:url(../images/help_item_wrap_discont.png)}
.help_item_wrap.help_item_wrap_discont:hover h2{background-image:url(../images/help_item_wrap_discont_hover.png)}
.help_item_wrap.help_item_wrap_time h2{background-image:url(../images/help_item_wrap_time.png)}
.help_item_wrap.help_item_wrap_time:hover h2{background-image:url(../images/help_item_wrap_time_hover.png)}
.help_item_wrap.help_item_wrap_useful h2{background-image:url(../images/help_item_wrap_useful.png)}
.help_item_wrap.help_item_wrap_useful:hover h2{background-image:url(../images/help_item_wrap_useful_hover.png)}
.help_item_wrap.help_item_wrap_insurance h2{background-image:url(../images/help_item_wrap_insurance.png)}
.help_item_wrap.help_item_wrap_insurance:hover h2{background-image:url(../images/help_item_wrap_insurance_hover.png)}
.help_item_wrap.help_item_wrap_news h2{background-image:url(../images/help_item_wrap_news.png)}
.help_item_wrap.help_item_wrap_news:hover h2{background-image:url(../images/help_item_wrap_news_hover.png)}
.row.audition_row .container{padding:40px 0 100px 0}
.audition_wrap{float:left;width:100%;margin-bottom:24px}
.audition_wrap h2{background:#fff;font-family:"Franklin Gothic Demi Cond";padding:20px 34px;font-weight:500;cursor:pointer;background:url(../images/audition_wrap.png) no-repeat 98% center;margin:0;float:left;width:calc(100% - 68px);background-color:#fff}
.audition_wrap h2 span{font-family:"Franklin Gothic Book";}
.audition_wrap h2.active{box-shadow:none;color:#fff;background:url(../images/audition_wrap_active.png) no-repeat 98% center;background-color:#0abab5;}
.audition_data_wrap{background:#ededed;position:relative;z-index:2;padding:15px 34px;float:left;width:calc(100% - 68px);display:none}
.audition_data_wrap .audition_data_wrap_img{float:left;margin-right:54px}
.audition_data_wrap .audition_data_wrap_img img{max-width:100px}
.audition_data_wrap .audition_data_wrap_phone{float:left;font-family:"Franklin Gothic Book";margin-top:18px}
.audition_data_wrap .audition_data_wrap_phone_title{width:100%;font-size:1.25rem;float:left}
.audition_data_wrap .audition_data_wrap_phone a{font-size:1.7rem;color:#000;margin-top:10px;float:left}
.audition_data_wrap_time{float:left;margin-top:18px;font-family:"Franklin Gothic Book";}
.audition_data_wrap_time .audition_data_wrap_time_data{font-size:1.25rem;margin-top:15px;float:left}
.switch_text_wrap.clinic_wrap{font-size:1.3rem;font-family:"Franklin Gothic Book";}
.switch_text_wrap.clinic_wrap a{color:#0abab5}
.switch_text_wrap.clinic_wrap .clinic_image{max-width:50%;}
.switch_text_wrap.clinic_wrap .clinic_image img{max-width:100%;margin-left:20px}
.switch_text_wrap.clinic_wrap .price_list_wrap{width:100%}

.switch_text_wrap a.fancybox:focus,switch_text_wrap a.fancybox img:focus {outline:none;}
.switch_text_gallery {margin:30px 0;text-align:center;overflow: auto;}
.switch_text_gallery a{display: block;width: 25%;float: left;}
.switch_text_gallery_img {height:200px;margin:1%;}

@media screen and (max-width:675px){
    .switch_text_gallery a{width: 49%;}
}

.audition_data_wrap_time_data .full_clinic_link{margin-top:7px;display:block;text-decoration:underline}
.row.discount_row .container{padding:40px 0 100px 0}
.card_wrap_text{float:left;width:calc(100% - 500px)}
.card_wrap_text h2{font-family:"Franklin Gothic Demi Cond";font-weight:500;text-transform:uppercase;margin:0}
.card_wrap_text p{font-size:1.2rem;font-family:"Franklin Gothic Book";}
.card_wrap{float:left;width:calc(100% - 48px);padding:36px 24px;background:#fff}
.card_wrap .plactic_card{background:url(../images/plactic_card.png) no-repeat 24px 25px #0abab5;border-radius:15px;width:400px;padding:24px 25px;float:right}
.plactic_card h3{font-weight:500;float:right;text-align:right;color:#fff;font-family:"Franklin Gothic Demi Cond";text-transform:uppercase;margin:26px 0 56px 0}
.wrap_discount_input{width:100%;float:left}
.wrap_discount_input input[type="text"]{width:calc(47% - 30px);border-radius:15px;height:34px;float:left;padding:0 15px;}
.wrap_discount_input input:last-child[type="text"]{float:right}
.plactic_card_btn{width:100%;float:left;display:block;background:#11979c;color:#fff;font-family:"Franklin Gothic Demi Cond";font-size:1.25rem;text-transform:uppercase;text-align:center;border-radius:15px;padding:10px 0;margin-top:15px;cursor:pointer}
h2.card_middle{font-family:"Franklin Gothic Demi Cond";font-weight:500;text-transform:uppercase;margin:0;text-align:center;margin:40px 0;float:left;width:100%}
.discount_row ol{padding:0 0 0 20px;counter-reset:li;padding:0;list-style:none;float:left}
.discount_row ol>li{font-size:1.25rem;font-family:"Franklin Gothic Book";margin-bottom:15px;position:relative;padding-left:27px}
.discount_row ol>li:before{content:counter(li);counter-increment:li;font-size:1.25rem;position:absolute;left:0;top:0px;width:20px;padding:0;color:#11979c;font-family:"Franklin Gothic Demi Cond";}
.discount_row ol li ul{margin-top:10px}
.discount_row ol li ul li{list-style:none;margin-bottom:10px}
.oms_top_data{font-size:1.25rem;font-family:"Franklin Gothic Book";float:left}
.oms_card_data_wrap{width:100%;float:left;margin:30px 0 20px 0}
.oms_card_item{width:calc(49% - 80px);margin-right:2%;padding:30px 40px 20px 40px;float:left;margin-bottom:10px;font-size:1.25rem;font-family:"Franklin Gothic Book";}
.oms_card_item h2{color:#11979c;font-weight:500;font-family:"Franklin Gothic Demi Cond";text-transform:uppercase;margin:0 0 20px 0}
.oms_card_item:first-child{background:#ffffff}
.oms_card_item:nth-child(2n){background:#efdfff;margin-right:0}
.oms_card_item:nth-child(2){height:255px}
.oms_card_item:nth-child(3){background:#ffe6d3}
.oms_bottom_data{float:left;margin-bottom:100px;font-size:1.25rem;font-family:"Franklin Gothic Book";}
.row.rules_row{padding:30px 0 100px 0;display:block}
.row.rules_row .oms_top_data{margin-bottom:30px}
.text_search_rules{width:100%;margin:20px 0;float:left}
.text_search_rules input[type="text"]{border:1px solid #a8a8a8;width:50%}
.row.rules_row .audition_wrap h2{text-transform:uppercase;padding:10px 34px;}
.row.rules_row .audition_data_wrap{background:#fff}
.row.rules_row .audition_data_wrap .rules_data_wrap{font-family:"Franklin Gothic Book";width:100%;float:left;clear:both;border-bottom:1px solid #e6e6e6;padding:10px 0}
.row.rules_row .audition_data_wrap .rules_data_wrap:last-child{border-bottom:none}
.row.rules_row .audition_data_wrap .rules_data_wrap h3{font-weight:500;width:35%;float:left;margin:0;font-family:"Franklin Gothic Medium"}
.row.rules_row .audition_data_wrap .rules_data_wrap .rules_data_text{float:right;width:60%;font-size:1.25rem}
.row.rules_row .audition_data_wrap .rules_data_wrap .rules_data_text p{margin:0}
.law_wrap{display:block;float:left;width:calc(49% - 30px);background-color:#fff;padding:15px;margin-bottom:15px;color:#000;font-family:"Franklin Gothic Book";font-size:1.33rem;min-height:90px;clear:left}
.law_wrap:nth-child(2n){float:right;clear:none}
.law_wrap:hover{background-color:#0abab5;color:#fff}
.law_wrap_data{width:calc(100% - 80px);float:left}
.law_wrap .law_wrap_data_label{background-image:url(../images/law_wrap_download.png);background-position:right top;background-repeat:no-repeat;width:50px;height:15px;float:right;text-align:center;padding-top:55px;color:#0abab5;font-size:14px}
.law_wrap:hover .law_wrap_data_label{color:#fff;background-image:url(../images/law_wrap_download_hover.png);}
.row.about_row .container{font-family:"Franklin Gothic Book";font-size:1.33rem;margin-bottom:50px}
.about_row ul li{margin-bottom:5px;}
.single_license{background:url(../images/single_license.png) no-repeat 25px 15px #fff;padding:15px 25px 15px 95px;width:calc(48% - 120px);float:left;margin-right:4%;margin-bottom:30px;font-family:"Franklin Gothic Book";}
.single_license:nth-child(2n){margin-right:0}
.single_license h2{margin:0;font-weight:500;}
.single_license p{font-size:1rem;margin:0 0 10px 0}
.single_license a{color:#0abab5;font-size:1.2rem;}
.single_license a span{font-size:1rem;color:#000}
.all_licenses_link{display:block;width:100%;border-top:1px solid #fff;text-align:center;font-family:"Franklin Gothic Book";font-size:1.33rem;float:left;padding-top:15px;background:url(../images/all_licenses_link.png) no-repeat center bottom;padding-bottom:28px;cursor:pointer}
.all_licenses_link span{color:#0abab5}
.row.image_structire .container{text-align:center;padding:60px 0}
.row.image_structire .container img{max-width:100%}
.story_slider{width:100%;overflow:hidden;height:300px;cursor:move}
.data_line{width:auto;height:0px;border-top:1px solid #18b3b9;position:relative;margin-top:150px}
.data_dot{width:12px;height:12px;background:#18b3b9;border-radius:100%;border:2px solid #18b3b9;position:relative;bottom:8px;margin-left:12px;float:left}
.data_dot:hover{background:#fff}
.row.story_row .container{padding:50px 0 20px 0;display:block}
.row.story_row .container>h2{font-weight:500;font-family:"Franklin Gothic Demi Cond";text-transform:uppercase;margin:0}
.row.story_row .container>p{font-size:1.25rem;font-family:"Franklin Gothic Book"}
.data_dot_text{width:260px;color:#000;bottom:40px;position:absolute;left:0}
.data_dot_text a{color:#000;cursor:pointer}
.data_dot:nth-child(2n) .data_dot_text{bottom:auto;top:30px}
.data_dot:hover .data_dot_text{color:#18b3b9;}
.data_dot:hover .data_dot_text a{color:#11979c}
.data_dot_text .data_dot_text_title{font-size:1.42rem;margin-bottom:5px;font-family:"Franklin Gothic Demi Cond"}
.data_dot_text .data_dot_text_addr{font-size:1.2rem;font-family:"Franklin Gothic Book";}
.year_1{margin-left:130px}
.year_2{margin-left:160px}
.year_3{margin-left:240px}
.year_4{margin-left:280px}
.about_map_row #map{width:100%;height:400px;box-shadow:none;max-width:100%;margin-bottom:100px}
.overlay_form_wrapper{position:fixed;background:rgba(0,0,0,0.5);width:100%;height:100%;top:0;left:0;display:none;z-index:50}
.overlay_form_wrapper .overlay_form{background:#0abab5;width:534px;position:absolute;left:50%;top:100px;margin-left:-267px;border-radius:30px;padding:40px 0;position:relative}
.overlay_form_inner{width:346px;margin:0 auto;color:#fff;text-align:center}
.overlay_form_inner span{text-align:left}
.overlay_form_title{font-size:2.5rem;font-family:"Franklin Gothic Demi Cond";text-transform:uppercase;margin-bottom:20px}
.overlay_form_inner input[type="text"]{width:calc(100% - 30px);height:40px;padding:0 15px;border-radius:13px;border:none;margin-top:20px;font-size:1.33rem}
.overlay_form_inner .send_overlay_form{display:inline-block;text-align:center;width:100%;background:#e94067;border-radius:15px;text-transform:uppercase;font-family:"Franklin Gothic Demi Cond";font-size:1.1rem;padding:12px 0;margin-top:20px;cursor:pointer}
.close_overlay_form{position:absolute;right:-90px;top:0;background:url(../images/close_overlay_form.png) no-repeat center;cursor:pointer;width:74px;height:74px;display:block}
.close_overlay_form:hover{opacity:0.7}
.dolg_text{font-size:1.5rem;font-family:"Franklin Gothic Book"}
.dolg_form_wrap{font-size:1.3rem;font-family:"Franklin Gothic Book"}
.dolg_form_wrap label{display:inline-block;width:350px}
.dolg_form_wrap .input{float:left;width:100%;margin-bottom:10px}
.dolg_form_wrap .input.check{background:#fff;padding:10px;width:calc(100% - 20px);margin-top:20px}
.dolg_form_wrap .input.check label{width:calc(100% - 30px);float:right}
.dolg_form_wrap .input input[type="text"]{width:300px}
.dolg_form_wrap .checkbox{float:left;width:100%;margin-bottom:10px}
.reviews_page_link{display:block;width:calc(48% - 40px);background:#fff;float:left;margin-right:4%;margin-bottom:30px;padding:12px 20px 20px 20px;color:#000;font-size:1.3rem}
.reviews_page_link:hover{-webkit-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);}
.reviews_page_link:nth-child(2n){margin-right:0}
.reviews_page_link .reviews_man{font-size:1.25rem;text-transform:uppercase;font-family:"Franklin Gothic Demi Cond"}
.reviews_page_link .reviews_page_clinic{float:left;font-size:1.2rem}
.reviews_page_link .reviews_page_date{float:right;font-size:1.2rem}
h2.name_review{font-family:"Franklin Gothic Demi Cond";font-weight:500;margin:0 0 30px 0}
h3.clinic_review{font-family:"Franklin Gothic Book";font-weight:500;margin:0 0 20px 0}
.review_body{font-size:1.3rem;font-family:"Franklin Gothic Book";font-weight:500;margin:0 0 40px 0}
.back_to_reviews{font-size:1.7rem;font-family:"Franklin Gothic Demi Cond";text-transform:uppercase;color:#11979c;text-decoration:underline}
.search_result h2{margin-bottom:0px}
.search_result h2 a{font-family:"Franklin Gothic Demi Cond";font-weight:500;color:#0abab5}
.search_result p{font-size:1.3rem;font-family:"Franklin Gothic Book";margin-bottom:30px}
.row.row_gallery .container{padding:50px 0 100px 0}
.row_all_gallery a{display:block;width:300px;height:150px;background:url(/frontend/images/row_title_image.jpg) no-repeat center;background-size:cover;float:left;margin:0 20px 20px 0}
.row_all_gallery a span{display:block;width:100%;color:#000;text-align:center;font-size:1.7rem;margin-top:55px}
.row.main_menu_mobile{display:none}
.back_call_widget{display:none}
.vacancy_description{margin-top:0;float:left;width:100%;display:none}
.structured_data_wrap_vacancy .structured_data_table_line_border h4{cursor:pointer}
input[type="text"].vacancy_input{width:calc(100% - 32px);height:32px;margin:0 0 10px 0;background:#d4d4d4;border-radius:0}
.vacancy_file{display:inline-block;position:relative;display:block;text-decoration:underline;cursor:pointer}
.vacancy_file input[type="file"]{width:100%;height:100%;opacity:0;position:absolute;z-index:2;display:block;top:0;left:0}
.vacancy_agree{color:#000;text-transform:none;text-align:left;margin:10px 0;float:left}
.vacancy_agree input{float:left}
.vacancy_agree label{float:right;width:calc(100% - 25px)}
.vacancy_agree a{color:#18b3b9;text-decoration:underline}
.work_advantages_wrap{width:100%;text-align:center;clear:both;float:left}
.work_advantages_wrap .work_advantage{width:150px;text-align:center;margin:0 20px 20px 20px;min-height:145px;float:left}
.work_advantages_wrap .work_advantage .work_advantage_img{height:50px}
.fixed_desktop_callback{position:fixed;z-index:10;bottom:20px;right:20px;background:url(../images/fixed_desktop_callback.png) no-repeat center #0abab5;border-radius:100%;width:75px;height:75px;cursor:pointer}
.fixed_desktop_callback a{display:block;position:absolute;}
.fixed_desktop_callback a.fixed_desktop_callback_lk,.fixed_desktop_callback a.fixed_desktop_callback_site{font-size:16px;opacity:1;z-index:4;background:rgba(10,186,181,0.75);height:30px;top:30px;padding:10px 0px 0 0px;color:#fff;text-align:center;width:0;overflow:hidden;-webkit-transition-duration:1s;-moz-transition-duration:1s;-o-transition-duration:1s;transition-duration:1s;}
.fixed_desktop_callback a.fixed_desktop_callback_lk{right:90px;border-radius:30px;top:-15px}
.fixed_desktop_callback a.fixed_desktop_callback_site{right:90px;border-radius:30px;top:50px}
.fixed_desktop_callback:hover a{width:230px;}
@media screen and (max-width:1340px){.advantage_wrap,.advantage_overlay{padding-left:25px;padding-right:25px}
.advantage_overlay_title{line-height:20px}
.news_item_wrap{width:20%;margin-right:6%}
.news_item_wrap:last-child{margin-right:0}
}
@media screen and (max-width:1340px){.advantage_wrap,.advantage_overlay{padding-left:25px;padding-right:25px}
.advantage_overlay_title{line-height:20px}
}
@media screen and (max-width:1036px){.close_overlay_form{right:24px;left:auto;top:20px}
.overlay_form_wrapper .overlay_form{max-width:90%;left:5%;margin-left:0}
}
@media screen and (max-width:1260px){.main_menu_ul li{padding-left:6px;padding-right:6px}
}
@media screen and (max-width:1130px){.main_menu_selectors_wrap input[type="text"]{width:60px;margin-left:10px;margin-right:10px}
}
@media screen and (max-width:975px){.doctor_text_data_wrap{margin-left:0px;width:calc(100%);float:left}
.fixed_desktop_callback{display:none}
}
@media screen and (min-width:975px) and (max-width:1215px){.slogan{display:none}
}
.wrap_agree_checkbox{float:left;margin:15px 0 0 0;width:100%;text-align:left}
.wrap_agree_checkbox label{margin-left:0px;display:block;float:right;width:325px}
.wrap_agree_checkbox label.failed_label{width:315px}
.wrap_agree_checkbox label a{color:#fff;text-decoration:underline}
.wrap_agree_checkbox input{margin:0;display:block;float:left}
.white-popup{position:relative;background:#FFF;padding:20px;width:auto;max-width:500px;margin:20px auto;font-size:15px;line-height:25px}
.org-name-hidden{display:none}
.advatage_icon_1{background:url(/frontend/images/specialists_min.png) no-repeat bottom left}
.advatage_icon_2{background:url(/frontend/images/adv/comfort_g.png) no-repeat bottom left;width:160px}
.advatage_icon_3{background:url(/frontend/images/profil_min.png) no-repeat bottom left}
.advatage_icon_4{background:url(/frontend/images/sovr_min.png) no-repeat bottom left}
.advatage_icon_5{background:url(/frontend/images/adv/hirurg_g.png) no-repeat bottom left}
.advatage_icon_6{background:url(/frontend/images/adv/info_g.png) no-repeat bottom left}
.advatage_icon_7{background:url(/frontend/images/adv/stabil_g.png) no-repeat bottom left}
.advatage_icon_8{background:url(/frontend/images/adv/gibkost_g.png) no-repeat bottom left}
.advantage_wrap_1{background:url(/frontend/images/specialists.png) no-repeat 190px 170px}
.advantage_wrap_2{background:url(/frontend/images/adv/comfort.png) no-repeat 140px 160px}
.advantage_wrap_3{background:url(/frontend/images/profil.png) no-repeat 180px 170px}
.advantage_wrap_4{background:url(/frontend/images/sovr.png) no-repeat 160px 170px}
.advantage_wrap_5{background:url(/frontend/images/adv/hirurg.png) no-repeat 190px 160px}
.advantage_wrap_6{background:url(/frontend/images/adv/info.png) no-repeat 150px 160px}
.advantage_wrap_7{background:url(/frontend/images/adv/stabil.png) no-repeat 180px 155px}
.advantage_wrap_8{background:url(/frontend/images/adv/gibkost.png) no-repeat 160px 155px}
.other_adv_wrap{display:none}
.plank_img_wrap_1{background:url(/frontend/images/plank_img_wrap.jpg) no-repeat center;background-size:cover}
.plank_img_wrap_2{background:url(/frontend/images/plank_img_wrap2.jpg) no-repeat center;background-size:cover}
#review_clinic{width:263px}
.news-title{font-family:'Franklin Gothic Demi Cond';font-weight:normal;margin:0 0 20px 0;font-size:16px;}
.main_page_h1 > span{font-size:25px;font-weight:500;font-family:'Franklin Gothic Demi Cond';text-align:center;text-transform:uppercase;}
.search-form{float:right;}
.footer-phone{display:none;}
.comagic-js-sitephone--hidden{display: none !important;}

.doctor_kids_direction{}
.doctor_kids_direction a{color: #000;font-size: 15px;font-family: "Franklin Gothic Book";}
.doctor_kids_direction a:hover{color: #09bab5;text-decoration: underline}
.doctor_kids_direction ul{float: left;width: 25%;list-style: none;padding-left: 22px;box-sizing: border-box;}
.doctor_kids_direction ul li{margin-bottom: 10px;position: relative;word-break: break-all;}
.doctor_kids_direction ul li:before {content: "";color: red;border-radius: 50%;background: #09bab5;display: block;height: 10px;width: 10px;position: absolute;left: -20px;top: 5px;}

.child_icon_racoon{position: absolute;background: url('/frontend/images/kids_pict/racoon.png') no-repeat; bottom:0;right: 0;height:200px;width:180px;}
.child_icon_bird_bottom,.child_icon_bird_bottom_mbl{position: absolute;background: url('/frontend/images/kids_pict/bird2.png') no-repeat; top:-50px;left:50%;height:60px;width:40px;}
.child_icon_bee{position: absolute;background: url('/frontend/images/kids_pict/bee.png') no-repeat; top:0;right: 25%;height:40px;width:52px;}
.child_icon_bird_top{position: absolute;background: url('/frontend/images/kids_pict/bird.png') no-repeat; bottom:-70px;left:0;height:113px;width:130px;}
.child_icon_beetle{position: absolute;background: url('/frontend/images/kids_pict/bush.png') no-repeat; bottom:0px;left:0;height:71px;width:221px;display:none}
.child_icon_bird_bottom_mbl{display:none}
.child_icon_butterfly,.child_icon_butterfly_mbl{position:absolute;background: url('/frontend/images/kids_pict/butterfly.png') no-repeat;height:40px;width:40px;bottom:35px;left:20px;display:block;background-size:100%;}
.child_icon_butterfly_mbl{height:50px;width:50px;bottom:10px;left:150px;}

@media screen and (max-width:675px){
    .child_icon_bee{display:none}
    .child_icon_bird_bottom{display:none}
    .child_icon_bird_bottom_mbl{bottom:0;display:block}
}

.row_speciality_rule.children_page .container{padding-bottom:170px;display:table;}