@font-face {
  font-family: 'Franklin Gothic Book';
  src: url('fonts/FranklinGothic-Book.eot?#iefix') format('embedded-opentype'),  url('fonts/FranklinGothic-Book.woff') format('woff'), url('fonts/FranklinGothic-Book.ttf')  format('truetype'), url('fonts/FranklinGothic-Book.svg#FranklinGothic-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Franklin Gothic Demi Cond';
  src: url('fonts/FranklinGothic-DemiCond.eot?#iefix') format('embedded-opentype'),  url('fonts/FranklinGothic-DemiCond.woff') format('woff'), url('fonts/FranklinGothic-DemiCond.ttf')  format('truetype'), url('fonts/FranklinGothic-DemiCond.svg#FranklinGothic-DemiCond') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Franklin Gothic Medium';
  src: url('fonts/FranklinGothic-Medium.eot?#iefix') format('embedded-opentype'),  url('fonts/FranklinGothic-Medium.woff') format('woff'), url('fonts/FranklinGothic-Medium.ttf')  format('truetype'), url('fonts/FranklinGothic-Medium.svg#FranklinGothic-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

html body{color: #000!important}
body,html{width: 100%;margin: 0;padding: 0;color: #000;font-family: "Franklin Gothic Medium";font-size: 25px}
input[type="text"],textarea{font-size: 0.8rem;font-family: "Franklin Gothic Medium";}
img{display: none}
body a{color: #000;text-decoration: underline}
.row{width: 100%;clear: both;float: left}
.row .container{width: 94%;max-width: 1200px;margin: 0 auto;display: table;padding: 50px 0}
.big_green_btn{border: 2px solid #000;display: block;text-decoration: none;clear: both;padding: 5px 20px;cursor: pointer;float: left}
.block6{width: 50%;float: left}


/*-------------- Главная страница ----------------*/
.portrait_container{float: left;}
.portrait_container:last-child{float: right}
.row.main_menu .container{padding: 0}
.main_menu_ul{display: block;float: left;margin: 0;padding: 0}
.main_menu_ul li{display: inline-block;margin-right: 20px;position: relative;padding: 20px 0}
.main_menu_ul li ul{display: none;position: absolute;background: #fff;top: 70px;padding-bottom: 10px;border: 2px solid #000}
.main_menu_ul li:hover ul{display: block;}
.main_menu_ul li ul li{padding: 0;white-space: nowrap;clear: both;display: block}
.super_slider{display: none}
.advantage_title{display: none}
.top_logo{background: url(../images/logo_bw.png) no-repeat center left;float: left;width: 218px;height: 79px}
.slogan{float: left;white-space: nowrap;margin: 20px 50px}
.main_menu{border-top: 2px solid #000;border-bottom: 2px solid #000}
.geotarget_wrap{display: none}
.row.top_data_row .container{padding: 30px 0 }
.your_city_wrap{float: right;margin-top: 20px;position: relative;height: 37px}
.your_city_wrap a{text-decoration: none;border-bottom: 1px dotted #000;padding-bottom: 3px;display: block;margin-left: 20px;float: left}
.your_city_wrap span{display: block;float: left}
.selector_sity{position: absolute;top: 100%;background: #fff;float: right;padding-bottom: 5px;left: 10px;display: none}
.your_city_wrap:hover .selector_sity{display: block}
.selector_sity a{cursor: pointer;display: block;width: auto;float: left}

.main_menu_selectors_wrap input[type="text"]{margin-top: 20px;height: 30px;width: 100px;margin-left: 20px;}
.row_advantages{padding: 50px 0}
.advantage_wrap{width: 40%;padding: 0 5%;float: left;background: none !important}
.advantage_wrap:nth-child(odd){clear: left}
.container.more_advantages{text-align: center;}
.container.more_advantages a{cursor: pointer}
.row.row_title .container{text-align: center;padding:20px 0 }
.map_operate_wrap{float: left;width: 50%;height: 500px;overflow-y: scroll}
#map{width: 50%;height: 500px;float: left}
.single_address_wrap{margin-bottom: 20px;cursor: pointer}
.row.plancs .container{padding: 50px 0}
.planc_wrap{margin-bottom: 30px}
.video_title,.plank_title,.single_addr_title,.advantage_overlay_title,h2{margin-bottom: 10px;font-family:  "Franklin Gothic Demi Cond";font-weight: 500}
.video_text_wrap{width: 90%}
.row.row_reviews .container{padding: 50px}
.row.row_reviews .container{display: block}
.reviews_title{width: 100%;padding: 30px 0}
.reviews_container{width: 100%;overflow: hidden;height: 300px;margin-bottom: 30px}
.review_form{float: left;width: 100%;position: relative;height: 250px}
.review_form input[type="text"]{width: 45%;clear: both;display: block;height: 30px;margin-bottom: 20px}
.review_form textarea{float: right;width: 50%;resize: none;height: 200px;position: absolute;right: 0;top: 0}
.select2-container{height: 30px;display: block}
.select2-container .select2-selection--single{height: 35px}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 35px}
.select2-container--default .select2-selection--single .select2-selection__arrow{height: 35px}
.review_form .big_green_btn{display: block;margin-top: 20px}
.news_date{font-size: 0.7rem}
.news_item_wrap{margin-bottom: 30px}
.have_a_question_title{float: left}
.row.row_have_a_question{border-top: 2px solid #000;border-bottom: 2px solid #000;}
.row.row_have_a_question .container{padding: 20px 0}
.have_a_question_form{float: right;margin-top: 20px}
.have_a_question_form input[type="text"]{margin-right: 20px}
.footer_links_wrap ul{float: left;width: 33%;padding: 0;margin: 0}
.footer_links_wrap ul li{list-style: none}
.work_data{float: left;margin:20px 0;width: 33%}
.row.row_search.higher{display: none}
.overlay_form_wrapper{display: none}
.footer_links_wrap{float: left;width: 100%;clear: both}
.footer_data_wrap{float: left;width: 100%}
.row.row_footer{background: #f1f1f1}
.social_wrap{display: none}
.row.main_menu_mobile{display: none}
.disclaimer{margin-bottom: 20px}
.numb_see::before{content: "Обычная версия";position: fixed;right: 20px;top: 5px;cursor: pointer;border: 2px solid #000;padding: 0 10px;background: #000;color: #fff}
/*-------------- Главная страница закончилась ----------------*/

/*-------------- Страница новостей ----------------*/
.row_breadcrumbs ul{display: block;float: left;margin: 0;padding: 16px 0;}
.row_breadcrumbs ul li{display: inline-block}
.row.row_breadcrumbs .container{padding: 20px 0 0 0}
.row.row_title_h1 .container{padding: 0}
.news_type{float: left;margin: 5px 0 0 0;padding: 0}
.news_type li{display: inline-block;margin-right: 25px;font-size: 1rem;text-transform: uppercase}
.news_type li a{color: #666666;font-family: "Franklin Gothic Demi Cond";}
.news_type li a.active{text-decoration: none}
.news_select_wrap{float: right}
.row.row_speciality_rule.row_speciality_rule_news .container{padding: 0}
.news_select_wrap .select2-container{float: left;margin-left: 20px}
.news_select_wrap  #search_news{margin-left: 20px;cursor: pointer}
.row.single_news_page .container{padding: 0 0 100px 0}
/*-------------- Страница новостей закончилась ----------------*/

/*-------------- Подразделы компании ----------------*/
.row.about_row .container{padding: 0}
.row.story_row,.row.about_map_row{display: none}
.text_search_rules input{height: 40px;width: 33%}
.law_wrap{display: block;margin-bottom: 20px}
.row.single_news_page.row_gallery img{display: inline-block}
.structured_data_wrap_vacancy .structured_data_title_qty{display: none}
.service_result_wrap{float: left;padding: 20px;border: 2px solid #000;margin-top: 30px}
.price_list_wrap{width: 60%;float: left}
.price_list_wrap table{display: none}
.service_result_wrap{float: right;width: 30%;background: #fff}
.total_data input[type="text"]{width: 100%;margin-bottom: 20px;height: 30px}
.green_btn{padding: 5px 10px;border: 2px solid #000;margin-top: 20px;float: left;clear: both;text-decoration: none;cursor: pointer;color: #000!important}
.row.row_title_image .container{padding: 0}
.row.row_price .container{padding: 0 0 100px 0}
/*-------------- Подразделы компании закончилась ----------------*/

/*------------- Услуги ---------------*/
.left_menu{float: left;width: 25%}
.block_with_left_menu{float: right;width: 75%}
.search_service{width: 50%;height: 30px;margin-bottom: 20px}
.toggle_data{column-count:2;width: 100%;-moz-column-count:2;-webkit-column-count:2;padding: 0px 0 40px 0;display: none;float: left}
.single_service_left_list_wrap{float: left;width: 20%}
.single_service_wrap.simple_service{float: right;width: 70%}
.single_service_left_list_wrap ul{display: block;margin: 0;padding: 0}
.single_service_left_list_wrap ul li{display: block;list-style: none}
.single_service_wrap{float: right;width: 70%;padding-bottom: 50px}
.single_service_wrap .swither_wrap{display: none}
#specialist_switch{width: 100%;clear: both;float: left}
.images_specialists{display: none}
.specialists_carousel{float: left;width: 100%;clear: both;overflow: hidden;display: block;height: 200px}
.row.row_single_service .container{display: block;padding-top: 0}
.specialists_carousel .single_scrubs_wrap{display: block;float: left;padding-right: 20px}
.single_service_wrap .price_list_wrap{width: 100%}
/*------------- Услуги закончились ---------------*/

/*---------- Страница Единичной комплексной программы  ----------*/
.programm_legend_wrap_page{width: 100%;float: left;margin-bottom: 20px}
.programm_legend_wrap_page .programm_legend_item_wrap:last-child{margin-right: 0}
.programm_legend_wrap_page .programm_legend_item_wrap .programm_legend_item{float: left;padding-top: 0;font-family: "Franklin Gothic Demi Cond";padding-bottom: 0}
.programm_legend_wrap_page .programm_legend_item_wrap .programm_legend_data {float: left;padding: 0;}
.single_medical_program_banner{display: none}
.single_medical_program_banner .overlay{background: rgba(0,0,0,0.45);width: 100%;height: 100%;position: absolute}
.single_medical_program_banner .overlay .row.row_have_a_question{position: absolute;bottom: 0;background: rgba(0,0,0,0.45);}
.single_medical_program_banner .overlay .row.row_have_a_question .container{background-image: none}
.single_medical_program_banner .overlay .row.row_have_a_question .container .have_a_question_title{margin-left: 0}
.single_medical_program_banner .overlay .row.row_have_a_question .container .have_a_question_form input[type="text"]{background:rgba(255,255,255,0.45);color: #fff}
.single_medical_program_banner .container{height: 100%}
.single_medical_program_banner .container h1{color: #fff;font-size: 40px;font-weight: 500;text-align: center;font-family: "Franklin Gothic Book";margin-top: 110px;}
.row.row_medical_programm_price{/*background: #fff;*/text-align: center;padding: 0px 0 20px 0}
.row.row_medical_programm_price.medical_programm_target .container{}
.row.row_medical_programm_subtitle{text-align: center}
.medical_program_banner_icon_wrap{width: 100%;text-align: center}
.medical_program_banner_icon_wrap .medical_program_banner_icon_item{display: inline-block;color: #fff;text-align: center;width: 25%;float: left}
.medical_program_banner_icon_wrap .medical_program_banner_icon_item .medical_program_banner_icon_text{font-size: 1.3rem;font-family: "Franklin Gothic Book"}
.row.row_medical_programm_price .container{padding: 0}
.complex_teaser{background: none !important}
.count_contest_wrapper{display: none}
.contest_button{display: none}
.single_program{width: 47%;float: left;margin-right: 6%}
.single_program:nth-child(2n){margin-right: 0}
.add_to_contest{display: none}
/*---------- Страница Единичной комплексной программы закончилась ----------*/


/*---------------- Врачи ----------------*/
#search_doctor{width: 400px;display: block;height: 30px;float: left}
.text_search_speciality_wrap{float: left}
.text_search_speciality_long_wrap{float: right;width: 100%;margin-top: 20px}
.text_search_speciality_long_wrap .select2-container{float: left;margin-right: 20px}
.text_search_speciality_long_wrap .green_btn{clear: none;margin-top: 0}
.toggle_title{width: 100%;clear: both;border: 2px solid #000;display: block;margin-bottom: 10px;text-decoration: none;cursor: pointer}
.toggle_title h2{margin:10px 0 10px 20px;}
.paginate_scrubs_ul{width: 100%;margin-left: 0;display: block;float: left;padding-left: 0}
.paginate_scrubs_ul li{float: left;width: 47%;margin-right: 6%}
.paginate_scrubs_ul li:nth-child(2n){margin-right: 0}
.single_scrubs_wrap h4{width: 100%;float: left}
.single_scrubs_text{float: left;clear: both}
.single_scrubs_img{display: none}
.paginate_scrubs_ul li a{display: block;float: left;width: 100%}
.single_scrubs_wrap h4{display: block;margin-bottom: 0}
.row.specialists_row .toggle_data {column-count:1;-moz-column-count:1;-webkit-column-count:1;}
.paginate_scrubs_navigation a.first_link, .paginate_scrubs_navigation a.previous_link, .paginate_scrubs_navigation a.next_link, .paginate_scrubs_navigation a.last_link, paginate_scrubs_navigation span.ellipse{display: none}
.paginate_scrubs_navigation a {color: #333333;display: inline-block;padding: 2px 6px;text-align: center;}
.doctors_additional_panel{display: none}
.image_n_sign_wrap{width: 100%;float: left;margin-bottom: 40px}
.row.row_single_doctor .container{padding: 0 0 50px 0}
.doctor_text_data_wrap h1{font-size: 1rem;font-weight: 500;font-family: "Franklin Gothic Demi Cond";}
.doctor_text_data dl dd{margin-left: 0}
/*---------------- Врачи закончились ----------------*/

/*------------ Цены --------------*/
.price_list_wrap{width: 65%}
.price_list_wrap .structured_data_wrap{margin-top: 0;margin-bottom: 50px}
.price_list_wrap .structured_data_wrap .structured_data_content_wrap{width: 100%;padding-left: 0}
.structured_data_table_line  .structured_data_table_line_border{width: calc(100% - 120px)}
.price_list_wrap .structured_data_wrap .structured_data_table_wrap h3{font-weight: 500;margin: 20px 0 10px 0;float: left;width: 100%;display: block}
.service_result_wrap{float: right;width: 30%}
.service_result_calc_wrap{background: #fff;margin-bottom: 100px;padding-bottom: 15px}
.service_result_title{width: calc(100% - 55px);padding-left: 55px;font-size: 1rem;background: url(../images/service_result_title.png) no-repeat center left;color: #333333;margin-bottom: 20px}
.service_result_total{width: calc(100% - 60px);height: 35px;padding: 15px 30px 0 30px;background: #f1f1f1;color: #000;font-size: 15px;font-family:'Franklin Gothic Demi Cond';text-transform: uppercase}
.service_result_total span{float: right;font-size: 20px;position: relative;top: -3px}
.service_result_data_wrap{width: 100%}
.service_result_data_line{height: 50px;font-size: 1.1rem;color: #101010;display: table-row}
.service_result_data_line_row{display: table-cell;vertical-align: middle;width: calc(100% - 30px);padding: 0px 50px 0 30px;position: relative}
.service_result_data_title{width: calc(100% - 10px)}
.service_result_data_line:nth-child(2n){background: #f4f4f4;}
.service_result_data_drop{float: right;width: 13px;height: 13px;background: url(../images/service_result_data_drop.png) no-repeat center;display: block;position: absolute;right: 30px;top: 17px;cursor: pointer}
.total_data{width: calc(100% - 60px);margin: 0 30px 20px 30px;text-align: center;border-top: 1px solid #d4d4d4;padding-top: 20px;font-size: 15px;text-transform: uppercase;}
.total_data span{display: inline-block;margin-left: 12px;font-size: 20px;text-transform: none}
.service_result_wrap .green_btn{width: calc(100% - 60px);padding-left: 0;padding-right: 0;text-align: center;margin-left: 30px;}
.structured_data_title{cursor: pointer;display: block;float: left;padding: 10px 0 10px 20px;width: calc(100% - 20px);border: 2px solid #000}
.structured_data_title h3 {float: left;font-family: "Franklin Gothic Demi Cond";font-weight: 500;margin:0px;text-transform: uppercase;width: calc(100% - 40px);display: block}
.structured_data_title span {display: block;float: right;font-family: "Franklin Gothic Demi Cond";text-align: center;text-transform: uppercase;width: 40px;}
.structured_data_table_wrap{width: 100%;float: left}
.structured_data_wrap{width: 100%;float: left;clear: both;margin-top: 60px}
.structured_data_wrap h2{text-transform: uppercase;font-weight: 500;color: #101010;border-bottom: 2px solid #000;padding: 0 0 15px 25px;margin:0 0 20px 0}
.structured_data_content_wrap{padding-left: 25px;margin-bottom: 10px;float: left;width: calc(100% - 25px)}
.structured_data_table_wrap{width: calc(100% - 20px);float: left;margin-left: 20px;margin-top: 30px;margin-bottom: 30px;display: none}
.structured_data_table_line{width: 100%;float: left;}
.structured_data_table_line .structured_data_table_line_border{border: 1px solid #b7b7b7;float: left;width: calc(100% - 180px);padding: 13px 10px;border-bottom: none}
.structured_data_table_line:last-child .structured_data_table_line_border{border-bottom:  1px solid #b7b7b7}
.structured_data_table_line_border h4{margin: 0;padding: 0;float: left;width: calc(100% - 110px);font-weight: 500}
.structured_data_table_line_border .structured_data_table_line_price{float: right;}
.structured_data_table_link{float:right;text-transform: uppercase;margin-top: 15px;cursor: pointer}
/*------------ Цены закончились --------------*/

.row .container.search_result{padding-top: 0}
#full_text_search{width: 400px;height: 30px}

/*---------- Всплывающая форма ----------*/
.overlay_form_wrapper{position: fixed;background: rgba(0,0,0,0.5);width: 100%;height: 100%;top: 0;left: 0;display: none;z-index: 50}
.overlay_form_wrapper .overlay_form{background: #fff;width: 834px;position: absolute;left: 50%;top: 100px;margin-left: -417px;border-radius: 30px;padding: 40px 0;position: relative}
.overlay_form_inner{width: 346px;margin: 0 auto;color: #000;text-align: center}
.overlay_form_inner span{text-align: left}
.overlay_form_title{font-family:"Franklin Gothic Demi Cond";text-transform: uppercase;margin-bottom: 50px}
.overlay_form_inner input[type="text"]{width: calc(100% - 30px);height: 40px;padding: 0 15px;border: 2px solid #000;margin-top: 20px;}
.overlay_form_inner .send_overlay_form{display: inline-block;text-align: center;width: 100%;border:2px solid #000;text-transform: uppercase;font-family:"Franklin Gothic Demi Cond";padding: 12px 0;margin-top: 20px;cursor: pointer;text-decoration: none}
.close_overlay_form{position: absolute;right: -90px;top: 0;background: url(../images/close_overlay_form.png) no-repeat center ;cursor: pointer;width:74px ;height: 74px;display: block}
.close_overlay_form:hover{opacity: 0.7}
/*---------- Всплывающая форма закончилась ----------*/

/*---------- Страница Долг ----------*/

.dolg_form_wrap label{display: inline-block;width: 350px}
.dolg_form_wrap .input{float: left;width: 100%;margin-bottom: 10px}
.dolg_form_wrap .input.check{background: #fff;padding: 10px;width: calc(100% - 20px);margin-top: 20px}
.dolg_form_wrap .input.check label{width: calc(100% - 30px);float: right}
.dolg_form_wrap .input input[type="text"]{width: 500px;height: 30px}
.dolg_form_wrap .checkbox{float: left;width: 100%;margin-bottom: 10px}
.input .select2-container{display: inline-block}
.input #send_pay_form{clear: both;float: none;font-size: 1rem !important;background: #fff;border: 2px solid #000!important}
.input p.small{font-size: 0.8rem}
/*---------- Страница Долг закончилась ----------*/























