@media screen and (max-device-aspect-ratio: 10/10){
    html{font-size: 16px}
    
    body{font-size: 1rem}
    .block6{width: 100%;margin-bottom: 50px;}
    .portrait_container{width: 100%}
    .slogan{float: right}
    .geotargeting{float: left;margin: 15px 0 0 0}
    .select_clinic_label{float: left;display: none;}
    .geotarget_wrap{float: left;width: auto}
    .main_menu_selectors_wrap .numb_see{display: none}
    .phone_header_data{margin-left: 0;margin-top: 0}
    .main_menu_ul{background: url(../images/burger.png) no-repeat center;width: 70px}
    .main_menu_ul li{display: none}
    .advantage_wrap{margin-right: 30px;margin-bottom: 30px}
    .advantage_wrap:nth-child(2n){margin-right: 0}
    .advantage_wrap,.advantage_overlay{padding-left: 35px;padding-right: 35px}
    
    #map{width: 100%;margin-bottom: 70px}
    .map_operate_wrap{width: 100%;padding-bottom: 50px}
    .addresses_wrap{width: 100%}
    .plank_text_wrap .plank_overlay{display: none}
    .all_video_link{padding-top: 0}
    .video_text_wrap{width: 100%}
    .row_reviews{height: 1220px}
    
    .planc_wrap{height: 260px}
    .leave_review_wrap{width: 100%;height: 610px}
    .review_form{width: 50%;margin-left: 25%}
    .reviews_container{width: 100%;height: 450px;margin-top: 30px}
    .single_review_wrap{width: 250px}
    .news_item_wrap{width: 45%;margin-right: 10%;margin-bottom: 30px}
    .news_item_wrap:nth-child(2n){margin-right: 0}
    .row_have_a_question{height: auto;}
    .have_a_question_form{margin-left: 150px;margin-top: 25px}
    .have_a_question_form input[type="text"]{margin-bottom: 20px;margin-right: 20px}
    .single_medical_program_banner .have_a_question_form{margin-left: 0px;}
    .footer_links_wrap{display: none}
    .footer_data_wrap{width: 100%}
    .row.row_footer{height: auto}
    
    body>section{margin-top: 235px}
    
    .complex_teasers_wrap .complex_teaser{width: calc(50% - 92px);font-size: 1.6rem;height: 150px}
    .row_breadcrumbs ul li,.row_breadcrumbs ul li a{font-size: 1.3rem}
    .select_programs_wrap .adults_child_wrap>a,.select_programs_wrap .adults_child_wrap>a{height: 30px}
    .select_programs_wrap .adults_child_wrap{font-size: 20px;height: 37px}
    .count_contest_text_1, .count_contest_text_2{font-size: 20px}
    .count_contest_wrapper{margin-top: 30px}
    .count_contest_text_data{font-size: 20px}
    a.contest_button{font-size: 20px;height: 30px;margin-top: 30px}
    .complex_teasers_wrap{margin: 20px 0 0 0}
    .row.row_complex h1{margin-bottom: 20px}
    .count_contest_wrapper{margin-left: 25px}
    a.contest_button{margin-left: 0;float: right}
    .single_program{width: calc(100% - 30px);margin-right: 0}
    .single_program h3{}
    .single_program{height: 100px}
    .programm_legend_wrap{width: 130px;padding-right: 20px;display: none}
    .programs_carousel_block{width: 100%}
    .programs_carousel_wrap {width: 602px;margin-top: 120px}
    .program_carousel_link{left: 0}
    .program_carousel_link.program_carousel_link_right{left: 53px}
    .text_search_speciality_wrap{width: 100%}
    .text_search_speciality_wrap>input{width: calc(100% - 36px);font-size:1.25rem;height:40px;}
    .row_speciality_rule{padding-top: 0}
    .text_search_speciality_long_wrap{width: 100%;border-left: none;padding-left: 0;padding-right: 0}
    .text_search_speciality_long_wrap .select2-container{margin-bottom: 20px}
    
    .paginate_scrubs_ul li{width: 50%}
    .paginate_scrubs_ul li .single_scrubs_wrap{width: 90%;margin-right: 0}
    .paginate_scrubs_ul li:nth-child(2n) .single_scrubs_wrap{float: right;}
    .single_scrubs_img{width: 100%;}
    .single_scrubs_wrap img{width: 100%}
    .single_scrubs_wrap h4{line-height: 25px}
    .single_scrubs_wrap .single_scrubs_text{font-size: 1.3rem}
    
    .price_list_wrap{width: 100%}
    .row_price .container .service_result_wrap_wrap{position: relative}
    .row_price .container .service_result_wrap_wrap.sticky{position: relative;top: 0}
    .row_price .container .service_result_wrap{width: 100%}
    .service_result_title{min-height: 37px}
    .text_search_speciality_long_wrap .select2-container{float: left}
    .select2-container--default .select2-selection--single{height: 42px}
    .select2-container--default .select2-selection--single .select2-selection__arrow{height: 42px}
    .structured_data_title{height: 50px}
    .structured_data_title span{height: 35px;padding-top: 15px;}
    .structured_data_title h3{margin-top: 15px}
    .service_result_data_line{font-size: 1.3rem;display: table;table-layout: fixed;width: 100%}
    .left_menu{width: 100%;}
    .block_with_left_menu{width: 100%;margin-top: 20px;border-left: none;padding: 0}
    .block_with_left_menu .search_service{width: calc(90% - 36px)}
    .toggle_data a{display: inline-block;margin-bottom: 10px}
    .doctor_main_data_wrap{width: 100%}
    .doctors_additional_panel{display: none}
    .image_n_sign_wrap,.image_n_sign_wrap img{width: 100%}
    .image_n_sign_wrap .order_doctor{width: calc(100%);padding-left: 0;text-align: center}
    .doctor_text_data_wrap{float: left;margin-top: 40px;margin-left: 0}
    .doctor_text_data dd{margin-left: 0}
    .single_license{width: calc(100% - 120px);margin-right: 0}
    .complex_teasers_wrap .complex_teaser{width: calc(100% - 92px);}
    .card_wrap_text{width: 100%}
    .card_wrap .plactic_card{width: calc(100% - 50px);margin-top: 30px}
    .discount_row ol > li::before{padding: 5px 0 0 0}
    .help_item_wrap{width: 96%;margin-right: 0;padding: 2% 2% 0% 2%}
    .oms_card_item{width: calc(100% - 80px);margin-bottom: 30px}
    .oms_card_item:nth-child(2){height: auto}
    .law_wrap{width: calc(100% - 30px);margin-bottom: 30px}
    .single_news_item_page{width: 96%;margin-right: 0;padding:2%}
    .row.single_news_page img{max-width: 100%}
    .single_service_left_list_wrap{display: none}
    .single_service_wrap{width: 100%}
    .useful_news_on_page_all .single_news_item_page{width: 98%;}
    .useful_news_on_page_all .single_news_item_page .single_news_item_page_text{padding: 20px 0}
    .useful_news_on_page_all .single_news_item_page .img_news_wrap{padding-top: 30px}
    
    .row.main_menu_mobile{position: fixed;background: #0abab5;height: 100%;top: 0;left: 0;z-index: 10;display: block;left: -100%;
    -webkit-transition-duration: 0.5s;  /* анимационное выдвижение для всех браузеров*/
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;}
    .row.main_menu_mobile.active{left: 0}
    .row.main_menu_mobile .container{display: block;height: 100%}
    .close_mobile_menu{background:  url("../images/row_search_close.png") no-repeat scroll center;position: absolute;width: 48px;height: 48px;display: block;right: 0;top: 0;cursor: pointer;z-index:1000}
    .mobile_wrap_menu{width: 100%;height: calc(100% - 50px);margin-top: 50px;float: left;overflow: hidden}
    .mobile_wrap_menu .main_menu_ul{display: block;width: 100%;height: auto;float: left;background: none}
    .mobile_wrap_menu .main_menu_ul li a{color: #fff;display: block;font-size: 25px}
    .mobile_wrap_menu .main_menu_ul li{height: auto;display: block;background: none;width: 100%;float: left}
    .news_type{margin: 20px 0}
    .news_select_wrap{float: left}
    .single_scrubs_wrap{height: 460px}
    .row.services_wrap .container{display: block}
    .toggle_data{column-count:2;width: 100%;-moz-column-count:2;-webkit-column-count:2;padding: 20px 0 0 0;font-size: 1.25rem;line-height: 30px;}
    .row_all_gallery a{width: 100%;margin-right: 0}
    .row_gallery a img{width: 100%;height: auto}
    
    .single_medical_program_banner{height: 780px}
    .programm_legend_wrap_page .programm_legend_item_wrap{width: 100%;margin-right: 0}
    .programm_column_cell{font-size: 20px;line-height: 30px}
    
    .single_news_img{margin-left: 0;width: 100%;clear: both;margin-bottom: 20px}
    
    .back_call_widget{height: 70px;background:#0abab5;position: fixed;bottom: 0;left: 0;right: 0;z-index: 100;display: block}
    .back_call_widget .container{height: 100%}
    .back_call_widget a,.back_call_widget .call_mobile_btn{color: #fff;font-size: 30px;padding: 15px 50px;display: inline-block;font-family: "Franklin Gothic Book"}
    .back_call_widget a{float:right}
    .back_call_widget .call_mobile_btn{background: url(../images/phone.png) no-repeat center left;position: relative}
    .back_call_widget a:last-child{float: right; background: url(../images/pen.png) no-repeat center right;}
    .back_call_phones{position: absolute;bottom: 65px;background: #0abab5;display: none;left: 0}
    .back_call_phones a{display: block;padding: 0;background: none;padding: 5px 50px}
    .back_call_phones a:last-child,.back_call_phones a:first-child{background: none}
    .back_call_widget .call_mobile_btn:hover .back_call_phones{display: block}
    
    .row.rules_row .audition_data_wrap .rules_data_wrap>h3{width: 100%;font-size: 25px;display: block;max-height: 999999px;}
    .row.rules_row .audition_data_wrap .rules_data_wrap .rules_data_text{width: 100%;font-size: 18px}
    .work_advantages_wrap .work_advantage{min-height: 170px}
    .have_a_question_title br{content: " ";}
    .have_a_question_title br:after{content: " "}
    .have_a_question_form input[type="text"]{width: calc(100% - 36px);font-size: 18px}
    .have_a_question_form .send_question_form{width: calc(100%);background-image: none;text-align: center;padding-left: 0;padding-right: 0}
    .social_links_only{width: 50%;display: inline-block}
    .work_data_title, .social_data_title{font-size: 1.4rem}
    .work_data_text span{font-size: 20px;width: auto}
    .work_data_text,.work_data_text a span{font-size: 26px}
    .add_service_downfall{position: fixed;bottom: 50%;left: 50%; width:50px;height: 50px;background: url(../images/parashute.png);z-index: 100;margin: -25px 0 0 -25px;background-size: contain;opacity: 0;
    -webkit-transition-duration: 1.5s;  /* анимационное выдвижение для всех браузеров*/
        -moz-transition-duration: 1.5s;
        -o-transition-duration: 1.5s;
        transition-duration: 1.5s;}
    .add_service_downfall.dropdown{bottom: -100px;}
    .add_service_downfall.visible{opacity: 1}
    .structured_data_table_link{margin-top: 0;padding-top: 15px;padding-bottom: 15px}
    .overlay_form_wrapper .overlay_form{top:20px;width: 90%}
    .overlay_form_title{font-size: 1.5rem;margin-bottom: 0}
    .header_visit_order{display: none}
    
    .structured_data_table_line_border h4{max-height:1000000px;}
    .switch_text, .switch_text *{max-height:1000000px;}
    #order_service_btn2{margin-top: 40px}
}