html{font-size: 16px}
body{font-size: 1rem}
.block6{width: 100%;margin-bottom: 50px}
.portrait_container{width: 100%}
.slogan{float: right}
.geotargeting{float: right}
.select_clinic_label{float: left}
.geotarget_wrap{float: left;width: 100%}
.main_menu_selectors_wrap .numb_see{display: none}
.phone_header_data{margin-left: 0;margin-top: 0}
.main_menu_ul{background: url(../images/burger.png) no-repeat center;width: 70px}
.main_menu_ul li{display: none}
.advantage_wrap{margin-right: 30px;margin-bottom: 30px}
.advantage_wrap:nth-child(2n){margin-right: 0}
.advantage_wrap,.advantage_overlay{padding-left: 35px;padding-right: 35px}

#map{width: 100%;margin-bottom: 70px}
.map_operate_wrap{width: 100%;padding-bottom: 50px}
.addresses_wrap{width: 100%}
.plank_text_wrap .plank_overlay{display: none}
.all_video_link{padding-top: 0}
.video_text_wrap{width: 100%}
.row_reviews{height: 1220px}

.planc_wrap{height: 260px}
.leave_review_wrap{width: 100%;height: 610px}
.review_form{width: 50%;margin-left: 25%}
.reviews_container{width: 100%;height: 450px;margin-top: 30px}
.single_review_wrap{width: 250px}
.news_item_wrap{width: 45%;margin-right: 10%;margin-bottom: 30px}
.news_item_wrap:nth-child(2n){margin-right: 0}
.row_have_a_question{height: 300px}
.have_a_question_form{margin-left: 150px;margin-top: 25px}
.have_a_question_form input[type="text"]{margin-bottom: 20px;margin-right: 20px}
.footer_links_wrap{display: none}
.footer_data_wrap{width: 100%}

body>section{margin-top: 320px}

.complex_teasers_wrap .complex_teaser{width: calc(50% - 92px);font-size: 1.3rem;height: 120px}
.row_breadcrumbs ul,.row_breadcrumbs ul li a{font-size: 1.3rem}
.complex_teasers_wrap{margin: 20px 0 0 0}
.row.row_complex h1{margin-bottom: 20px}
.count_contest_wrapper{margin-left: 25px}
a.contest_button{margin-left: 0;float: right}
.single_program{width: calc(100% - 30px);margin-right: 0}
.single_program h3{font-size: 1.6rem}
.single_program{height: 100px}
.programm_legend_wrap{width: 130px;padding-right: 20px;display: none}
.programs_carousel_block{width: 100%}
.programs_carousel_wrap {width: 602px;margin-top: 120px}
.program_carousel_link{left: 0}
.program_carousel_link.program_carousel_link_right{left: 53px}
.text_search_speciality_wrap{width: 100%}
.text_search_speciality_wrap>input{width: calc(100% - 36px)}
.row_speciality_rule{padding-top: 0}
.text_search_speciality_long_wrap{width: 100%;border-left: none;padding-left: 0;padding-right: 0}
.text_search_speciality_long_wrap .select2-container{margin-bottom: 20px}

.paginate_scrubs_ul li{width: 50%}
.paginate_scrubs_ul li .single_scrubs_wrap{width: 90%;margin-right: 0}
.paginate_scrubs_ul li:nth-child(2n) .single_scrubs_wrap{float: right;}
.single_scrubs_img{width: 100%;}
.single_scrubs_wrap img{width: 100%}
.single_scrubs_wrap h4{font-size: 1.6rem;line-height: 25px}
.single_scrubs_wrap .single_scrubs_text{font-size: 1.3rem}

.price_list_wrap{width: 100%}
.service_result_wrap{width: 100%}
.service_result_title{min-height: 37px}
.text_search_speciality_long_wrap .select2-container{float: left}
.select2-container--default .select2-selection--single{height: 42px}
.select2-container--default .select2-selection--single .select2-selection__arrow{height: 42px}
.structured_data_title{height: 50px}
.structured_data_title span{height: 35px;padding-top: 15px;}
.structured_data_title h3{margin-top: 15px}
.service_result_data_line{font-size: 1.3rem}
.left_menu{width: 100%;}
.block_with_left_menu{width: 100%;margin-top: 20px;border-left: none;padding: 0}
.block_with_left_menu .search_service{width: calc(90% - 36px)}
.toggle_data a{display: inline-block;margin-bottom: 10px}
.doctor_main_data_wrap{width: 100%}
.doctors_additional_panel{display: none}
.image_n_sign_wrap,.image_n_sign_wrap img{width: 100%}
.image_n_sign_wrap .order_doctor{width: calc(100%);padding-left: 0;text-align: center}
.doctor_text_data_wrap{float: left;margin-top: 40px}
.doctor_text_data dd{margin-left: 0}