body,html{width: 100%;margin: 0;padding: 0;background: #f4f4f4;color: #000;font-family: "Franklin Gothic Medium";font-size: 12px}
.row{width: 100%;clear: both;float: left}
.row .container{width: 94%;max-width: 1200px;margin: 0 auto;display: table}
.block6{width: 50%;float: left}
.portrait_container{float: left;}
.portrait_container:last-child{float: right}
a{text-decoration: none}
.container.wrap_big_link{text-align: center;margin-top: 100px;margin-bottom: 100px}
body>section{margin-top: 200px}
input[type="text"]{background: #fff;border: none;border-radius: 10px;height:36px;padding: 0 18px;border: 1px solid #e6e6e6}
.green_btn{display: inline-block;background: #0abab5;border-radius: 10px;padding:9px 32px;color: #fff;font-size: 1.25rem;text-transform: uppercase;cursor: pointer}
.box_shadow{-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);}
/*---------- Заголовок ----------*/
header{position: fixed;top: 0;left: 0;width: 100%;background: #f4f4f4;z-index: 6}
.row.top_green_line{background: #0abab5;height: 20px}
.row.top_data_row .container{padding:25px 0}
.top_logo{display: block;float: left;width: 218px;height: 79px;background: url(../images/logo.png) no-repeat center;}
.slogan{font-family: "Franklin Gothic Demi Cond";font-size: 2rem;color: #00abb2;margin-left: 30px;white-space: nowrap;float: left;margin-top: 25px}
.phone_header_data{float: right;margin-left: 65px}
.phone_header_data,.geotargeting,.select_clinic_label{margin-top: 22px}
.phone_header_data_text{font-family: "Franklin Gothic Book";font-size: 1rem;color: #000}
.phone_header_data a{color: #992926;font-size: 1.9rem;font-family: "Franklin Gothic Demi Cond";text-decoration: none}
.geotarget_wrap{float: right}
.geotargeting{background: url(../images/geotargeting.png) no-repeat #0abab5 15px 7px;display: block;border-radius: 15px;float: left;color: #fff;text-decoration: none;text-transform: uppercase;font-family: "Franklin Gothic Medium";font-size: 1rem;padding: 11px 15px 11px 45px;margin-left: 35px;cursor: pointer}
.select_clinic_label{font-family: "Franklin Gothic Book";font-size: 1.17rem;float: left;line-height: 20px}
.row.main_menu{background: #0abab5;height: 54px;}
.row.main_menu .container{height: inherit;display: block}
.main_menu_ul{display: block;float: left;height: 100%;margin: 0;padding: 0;overflow: hidden}
.main_menu_ul li{display: block;float: left;padding: 17px 20px 20px 20px}
.main_menu_ul li.active{background: #fff;}
.main_menu_ul li.active a{color: #0abab5}
.main_menu_ul li a{color: #fff;text-decoration: none;font-family: "Franklin Gothic Medium";font-size: 15px;text-transform: uppercase}
.main_menu_selectors_wrap{float: right;height: 100%;}
.main_menu_selectors_wrap .numb_see{height: 100%;cursor: pointer;width:47px;background: url(../images/numb_see.png) no-repeat center;display: block;float: right}
.main_menu_selectors_wrap input[type="text"]{float: right;display: block;background: url(../images/main_menu_selectors_wrap_search.png) no-repeat 10px 7px #11979c;border-radius: 13px;height: 26px;border: none;width: 130px;padding: 0 30px;margin: 14px 40px 0 40px;font-size: 1rem;color: #fff}
.your_city_wrap{font-size: 1.25rem;float: right;color: #fff;font-family: "Franklin Gothic Book";margin-top: 17px}
.your_city_wrap a{color: #0c5356;text-decoration: none;border-bottom: 1px dotted #0c5356;padding-bottom: 3px;display: block;margin-left: 20px;float: left}
.your_city_wrap span{display: block;float: left}

/*---------- Заголовок закончился ----------*/

/*---------- Главный слайдер  ----------*/
.row.super_slider{overflow: hidden;height: 550px;position: relative}
.row.super_slider .container{height: 100%}
.swiper_table {display: table;height: 100%;width: 50%;}
.swiper_table .swiper_table_child {display: table-cell;vertical-align: middle;font-family: 'Franklin Gothic Demi Cond';color: #fff;}
.swiper_table .swiper_table_child .green_field{display: inline-block;background: #0abab5;border-radius: 15px;padding: 30px 30px 15px 30px;width: 410px}
.swiper_table_child .title{font-size: 30px;margin-bottom: 15px;width: 80%;color: #0c5356}
.swiper_table_child p{font-size: 1.5rem;width: 80%;line-height: 24px;font-family: "Franklin Gothic Book";}
.green_field a{display: block;float: right;clear: both;font-size: 13px;text-transform: uppercase;font-family: "Franklin Gothic Medium";text-decoration: none;color: #fff;background: url(../images/little_arrow_round.png) no-repeat center right;height: 21px;padding-top: 5px;padding-right: 43px}
.switches{position: absolute;z-index: 2;height: 25px;width: 100%;text-align: center;bottom: 30px}
.switches .swiper-pagination-switch{width: 21px;height: 21px;background: #fff;border-radius: 100%;display: inline-block;margin-right: 20px;border: 2px solid #fff}
.switches .swiper-pagination-switch.swiper-active-switch{background: #0abab5}
.switches .swiper-pagination-switch:last-child{margin-right: 0}
/*---------- Главный слайдер закончился ----------*/

/*---------- Преимущества ----------*/
.row.row_advantages .container{padding: 50px 0 20px 0}
.advantage_wrap{width: 210px;background: #f4f4f4;-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.55);float: left;padding: 30px 35px 15px 35px;margin-right: 25px;margin-bottom: 25px;height: 185px;overflow: hidden;position: relative;cursor: pointer}
.advantage_wrap:last-child{margin-right: 0}
.advantage_overlay{position: absolute;bottom: -100%;left:0;width: 210px;background: #0abab5;height: 185px;padding: 30px 35px 15px 35px;color: #fff;-webkit-transition-duration: 1s;  /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;}
.advantage_wrap:hover .advantage_overlay{bottom: 0;left: 0}
.advantage_overlay_title{font-size: 1.5rem;font-family: "Franklin Gothic Book";text-transform: uppercase;line-height: 27px;color: #fff}
.advantage_overlay_text{font-family: "Franklin Gothic Book";font-size: 14px}
.advatage_icon{width: 60px;height: 50px}
.advantage_title{margin-top: 20px;font-size: 18px;font-family: "Franklin Gothic Book";text-transform: uppercase;line-height: 27px}
.row.row_advantages .container.more_advantages{text-align: center;padding-top: 0}
.more_advantages a.more_advantages_btn{display: inline-block;font-family: 'Franklin Gothic Demi Cond'; color: #18b3b9;text-transform: uppercase;background: url(../images/more_advantages_btn.png) no-repeat center bottom;height: 65px;width: 40px;cursor: pointer}
/*---------- Преимущества закончились ----------*/

/*---------- Заголовочный блок ----------*/
.row.row_title .container{padding: 60px 0 50px 0;font-size: 25px;font-family: 'Franklin Gothic Demi Cond';text-align: center;text-transform: uppercase}
/*---------- Заголовочный блок закончился ----------*/
/*---------- Картографический блок ----------*/      
#map{width: 60%;max-width: 750px;height: 420px;float:right;-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.55);}
.map_operate_wrap{float: left;width: 400px;padding-bottom: 150px}
.search_input_wrap{width: calc(100% - 40px)}
.search_input_wrap input{width: calc(100% - 30px);height: 48px;border: 1px solid #cfcfcf;background: #fff;border-radius: 15px;padding:0 15px}
.addresses_wrap{height: 350px;width: 400px;margin-top: 20px}
.single_address_wrap{width: calc(100% - 62px);background: #ffffff;border-bottom: 1px solid #dfdfdf;cursor: pointer;padding: 10px;font-size: 1.2rem; font-family: "Franklin Gothic Book";display: table}
.single_address_wrap:hover,.single_address_wrap:focus{background: #d9feff}
.phone_data{float: left;padding: 0 0 0 26px;background: url(../images/phone_data.png) no-repeat center left;}
.phone_data a{color: #000;text-decoration: none}
.single_addr_data_wrap{margin-top: 15px;width: 100%}
.time_data{float: right;padding: 0 0 0 26px;background: url(../images/time_data.png) no-repeat center left;}
.map_operate_wrap .mCS-minimal.mCSB_scrollTools .mCSB_draggerRail, .map_operate_wrap .mCS-minimal-dark.mCSB_scrollTools .mCSB_draggerRail{background: #d0d0d0}
.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools, .mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools{opacity: 1}
.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical{margin: 0}
.mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background: #18b3b9}
.mCS-minimal.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
	.mCS-minimal.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background: #18b3b9}
/*---------- Картографический блок закончился ----------*/

/*---------- Блок с непонятными ссылками ----------*/
.planc_wrap{background: #fff;width: 100%;-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);margin-bottom: 70px;position: relative;height: 180px;overflow: hidden}
.plank_text_wrap{width: 50%;height: 100%;position: absolute;z-index: 2;float: left;padding: 20px 30px;left: 0;top: 0;background: #fff}
.plank_img_wrap{width: 50%;float: right;height: 100%;z-index: 1}
.plank_text_wrap .plank_overlay{background: url(../images/plank_text_wrap.png) repeat-y center right;position: absolute;right: -9px;height: 100%;top: 0;width: 9px;background-size: auto}
.plank_title{font-family:'Franklin Gothic Demi Cond';font-size: 25px;color: #0e6e72;text-transform: uppercase;text-decoration: none;margin-bottom: 25px;display: block}
.plank_text{font-family: "Franklin Gothic Book";font-size: 1.1rem}
.plank_link{display: block;height: 30px;font-size: 16px;text-transform: uppercase;color: #18b3b9;margin-top: 25px;padding-left: 34px;padding-top: 2px}
.plank_link.plank_link_order{background: url(../images/plank_link_order.png) no-repeat top left}
.plank_link.plank_link_pay{background: url(../images/plank_link_pay.png) no-repeat top left}
/*---------- Блок с непонятными ссылками закончился ----------*/

/*---------- Блок видео ----------*/
.row.row_video{background: #eeeeee;padding: 100px 0}
.video_text_wrap{width: 80%}
.video_title{font-family: "Franklin Gothic Medium";font-size: 1.7rem;margin-bottom: 50px}
.video_text{font-family: "Franklin Gothic Book";font-size: 1.25rem;line-height: 25px}
.all_video_link{text-align: center;padding-top: 50px}
.video_vrap{width: 100%}
.all_video_link a{background: #0abab5;-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);display: inline-block;color: #fff;padding: 12px 38px;border-radius: 15px;text-transform: uppercase;font-size: 1.25rem;font-family:  "Franklin Gothic Medium";}
/*---------- Блок видео закончился ----------*/

/*---------- Блок отзывов ----------*/
.row_reviews{ background: #0abab5;height: 610px}
.row_reviews .container{background: url(../images/row_reviews.png) no-repeat left top;height: 100%;display: block}
.reviews_title{margin-top: 65px;margin-left: 215px;font-family:'Franklin Gothic Demi Cond';color: #fff;font-size: 25px;text-transform: uppercase;float: left}
.leave_review_wrap{height: 100%;background: #ededed;-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);float: right;width: 400px;display: table}
.leave_review_title{width: 100%;margin: 65px 0;font-family:'Franklin Gothic Demi Cond';color: #17959a;font-size: 25px;text-transform: uppercase;text-align: center}
.review_form{width: 264px;margin-left: 68px;text-align: center}
.review_form input[type="text"],.review_form textarea{width: calc(100% - 36px);background: #fff;border: none;border-radius: 15px;height: 40px;padding: 0 18px;margin-bottom: 20px}
.review_form textarea{height: 118px;padding-top: 10px;padding-bottom: 10px;resize: none;margin-bottom: 60px}
.big_green_btn{display: inline-block;color: #fff;background: #0abab5;-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);    padding: 12px 38px;border-radius: 15px;text-transform: uppercase;font-size: 15px;font-family:  "Franklin Gothic Medium";}
.review_form .big_green_btn{width: 100%;padding-left: 0;padding-right: 0}
.reviews_container{width: calc(100% - 400px);float: left;overflow: hidden;margin-top: 100px;height: 300px;position: relative}
.single_review_wrap{width: 300px}
.single_review_title_wrap{color: #fff;font-family:'Franklin Gothic Demi Cond';font-size: 1.25rem;text-transform: uppercase;margin-bottom: 20px}
.single_review_title_wrap span{display: inline-block;font-size: 1.1rem;font-family: "Franklin Gothic Book";color: #13777b;float: right;text-transform: none}
.addr_review{font-family: "Franklin Gothic Medium";color: #003333;font-size: 1.2rem}
.text_review{font-family: "Franklin Gothic Book";color: #003333;font-size: 1.2rem;line-height: 22px;color: #fff;text-align: justify}
.reviews_control{height: 30px;width: 50px;background: url(../images/reviews_control.png) no-repeat center;position: absolute;z-index: 3;bottom: 0;left: 0}
.reviews_all_link{height: 20px;background: url(../images/reviews_all_link.png) no-repeat left center;position: absolute;z-index: 3;bottom: 0;right: 0;color: #fff;font-size: 13px;font-family: "Franklin Gothic Book";padding-left: 35px;display: block;padding-top: 4px;margin-right: 100px;}
.reviews_control a{display: inline-block;width: 15px;height: 100%;background: url(../images/reviews_left.png) no-repeat center;cursor: pointer}
.reviews_control a.reviews_right{display: inline-block;width: 15px;height: 100%;background: url(../images/reviews_right.png) no-repeat center;float: right}
/*---------- Блок отзывов закончился ----------*/

/*---------- Блок новостей ----------*/
.news_item_wrap{width: 270px;float: left;margin-right: 30px}
.news_item_wrap img{max-width: 100%}
.news_date{font-family: "Franklin Gothic Book";font-size: 13px;color: #666666;margin:25px 0 10px 0}
.news_item_wrap h2{font-size: 1.25rem;font-family:'Franklin Gothic Demi Cond';font-weight: normal;margin: 0 0 20px 0}
.news_item_wrap p{font-family: "Franklin Gothic Book";font-size: 1.1rem;color: #666;line-height: 20px}
.news_full_link{font-family:'Franklin Gothic Demi Cond';color: #18b3b9;font-size: 1.1rem;text-decoration: underline}
/*---------- Блок новостей закончился ----------*/

/*---------- Блок остались вопросы ----------*/
.row_have_a_question{background: #18b3b9;height: 150px}
.row_have_a_question .container{background: url(../images/row_have_a_question.png) no-repeat left 20px;height: 100%}
.have_a_question_title{float: left;margin:40px 0 0 150px;color: #fff;font-family:'Franklin Gothic Demi Cond';font-size: 25px;text-transform: uppercase;}
.have_a_question_form{float: right;margin-top: 45px}
.have_a_question_form input[type="text"]{height: 46px;width: 198px;padding: 0 18px;border-radius: 20px;border: none;margin-right: 36px;font-size: 15px}
.send_question_form{cursor: pointer;font-size: 15px;text-transform: uppercase;color: #fff;height: 16px;padding:14px 70px 16px 26px ;border-radius: 20px;background: url(../images/send_question_form.png) 130px center #15959a no-repeat;display: inline-block}
/*---------- Блок остались вопросы закончился ----------*/

/*---------- Блок футера ----------*/
.row.row_footer{height: 465px;background: #15959a}
.footer_links_wrap{float: left;margin: 75px 0 0 0}
.footer_links_wrap ul{display: block;margin: 0;float: left;width: 200px;padding: 0}
.footer_links_wrap ul li{display: block;margin-bottom: 16px}
.footer_links_wrap ul li a{color:  #fff;font-size: 15px;font-family:"Franklin Gothic Book";}
.footer_links_wrap ul li a:hover{color: #10484a;text-decoration: underline}
.footer_data_wrap{width: 480px;color: #fff;float: right;margin-top: 75px}
.footer_data_wrap .work_data{width: 50%;float: left}
.work_data_title,.social_data_title{font-size: 1.2rem;font-family:"Franklin Gothic Book";margin-bottom: 16px}
.work_data_text{font-size: 20px;font-family:'Franklin Gothic Demi Cond';line-height: 30px}
.work_data_text a{color: #fff}
.work_data_text span{font-size: 15px;color: #31d6dd;width: 40px;display: inline-block}
.work_data_text a span{font-size: 20px;margin: 0;width: auto}
.social_wrap{width: 100%;float: left;clear: both;margin-top: 40px}
.social_links_wrap{width: 100%;float: left;clear: both}
.social_links_wrap a{display: inline-block;margin-right: 16px;height: 30px}
.social_links_wrap a.fb{width: 31px;background: url(../images/fb.png) no-repeat center}
.social_links_wrap a.fb:hover{background: url(../images/fb_hover.png) no-repeat center}
.social_links_wrap a.vk{width: 31px;background: url(../images/vk.png) no-repeat center}
.social_links_wrap a.vk:hover{background: url(../images/vk_hover.png) no-repeat center}
.social_links_wrap a.utube{width: 37px;background: url(../images/utube.png) no-repeat center}
.social_links_wrap a.utube:hover{background: url(../images/utube_hover.png) no-repeat center}
.social_links_wrap a.twi{width: 31px;background: url(../images/twi.png) no-repeat center}
.social_links_wrap a.twi:hover{background: url(../images/twi_hover.png) no-repeat center}
.social_links_wrap a.inst{width: 30px;background: url(../images/inst.png) no-repeat center}
.social_links_wrap a.inst:hover{background: url(../images/inst_hover.png) no-repeat center}
.social_links_wrap a.artel{width: 89px;background: url(../images/artel.png) no-repeat center;float: right}
.social_links_wrap a.artel:hover{background: url(../images/artel_hover.png) no-repeat center}
.copyright{width: 100%;margin-top: 90px;font-size: 15px;font-family: "Franklin Gothic Book";color: #0e5a5d;text-align: center;float: left}
/*---------- Блок футера закончился ----------*/

/*---------- Блок поиска ----------*/
.row_search{height: calc(100% - 203px);background: #09ada8;position: fixed;left: 0;color: #fff;z-index: 5;top: -100%;-webkit-transition-duration: 1s;  /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;}
.row_search.active{top: 203px}
.find_scrubs_wrap{float: left;width: calc(100% - 740px);position: relative}
.find_scrubs_title{margin-top: 24px;text-transform: uppercase;font-size: 14px;}
.search_body{width: calc(100% - 30px);border-right: 1px solid #1b989d;padding-right: 30px}
.search_body .search_field{padding: 24px 0 20px 0}
.search_body .search_field input[type="text"]{width: calc(100% - 100px);height: 40px;border: none;border-radius: 15px;padding: 0 15px;float: left}
.search_body .search_field a{display: inline-block;height: 40px;width: 40px;background: url(../images/lupa.png) no-repeat center #0abab5;border-radius: 15px;margin-left: 30px}
.search_results_title{font-size: 14px;border-bottom: 1px solid #1b989d;padding-bottom: 7px;margin-bottom: 24px}
.search_results_data a{color: #fff;font-size: 15px;font-family: "Franklin Gothic Book";display: block;margin-bottom: 12px}
.look_all_scrubs{display: block;float: left;text-transform: uppercase;font-size: 15px;color: #fff;padding-right: 42px;background: url(../images/look_all_scrubs.png) no-repeat center right;height: 23px;bottom: 24px;left: 0;margin-top: 20px}
.row_search_close{display: block;float: right;width: 36px;height: 36px;background: url(../images/row_search_close.png) no-repeat center right;clear: both;cursor: pointer}
.find_special_wrap{float: left;width: 710px;padding-left: 30px;padding-top: 16px}
.search_specialist_row{width: 100%;float: left;clear: both;padding: 14px 0 26px 0}
.select2-container--default .select2-selection--single{border: none;border-radius: 15px;height: 40px;}
.select2-container{margin-right: 30px}
.select2-container:last-child{margin-right: 0}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 40px}
.select2-container--default .select2-selection--single .select2-selection__arrow{height: 40px;width: 40px}
.select2-container--default .select2-selection--single .select2-selection__arrow{top: 0;right: 0;background: url(../images/arrow_select.png) no-repeat center}
.select2-container--default .select2-selection--single .select2-selection__arrow b{border: none}
.find_special_wrap_content .search_results{float: left;width: 100%}
.find_special_wrap_content{float: left;width: 100%;clear: both}
.row_row_have_a_question_title{height: 84px;background-color: #0abab5;position: absolute;bottom: 0;left: 0;-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);}
.row_row_have_a_question_title .have_a_question_title{margin: 20px 0 0 100px;font-size: 20px}
.row_row_have_a_question_title .container{background: rgba(0, 0, 0, 0) url("../images/row_have_a_question.png") no-repeat scroll left 10px;height: 100%;background-size: 70px}
.row_row_have_a_question_title .have_a_question_form{margin-top: 25px;float: left;margin-left: 25px}
.row_row_have_a_question_title .have_a_question_form input[type="text"]{height: 36px;width: 140px;font-size: 15px;margin-right: 25px}
.row_row_have_a_question_title .send_question_form{height: 14px;padding: 10px 60px 12px 15px;font-size: 13px;background: #15959a url("../images/send_question_form.png") no-repeat scroll 100px center;}
.send_replay_wrap{background: url(../images/send_replay.png) no-repeat right top ;float: right}
.send_replay{float: right;width: 345px;border-left:1px solid #11979c;height: 50px;margin-top: 20px;}
.send_replay .send_replay_link{margin-left: 32px;display: inline-block;font-size: 15px;text-transform: uppercase;font-family:'Franklin Gothic Demi Cond';padding-top: 15px;}
.find_special_wrap_content .search_results_data a{display: inline-block;width: 32%;margin: 0;margin-bottom: 12px}
/*---------- Блок поиска закончился ----------*/

/*---------- Страница услуг ----------*/
.row.row_title_image{height: 210px;background: url(../images/row_title_image.jpg) no-repeat center;background-size: cover}
.row.row_title_image h1{font-size: 25px;color: #14454c;text-transform: uppercase;font-family:'Franklin Gothic Demi Cond';margin-top: 85px}
.row_breadcrumbs ul{display: block;float: left;margin: 0;padding: 16px 0;font-family: "Franklin Gothic Book";color: #666666;font-size: 13px}
.row_breadcrumbs ul li{display: inline-block}
.row_breadcrumbs ul li a{font-family: "Franklin Gothic Book";color: #666666;font-size: 13px}
.left_menu{float: left;width: 255px}
.block_with_left_menu{float: left;width: calc(100% - 292px);border-left: 1px solid #d5d5d5;padding-left: 36px;margin-bottom: 65px;}
.search_service{display: block;float: left;height: 36px;width: 70%;border: 1px solid #a8a8a8;border-radius: 10px;margin-bottom: 30px;padding: 0 15px}
.toggle_wrapper{width: 100%;float: left;clear: both;margin-bottom: 20px}
.toggle_wrapper a.toggle_title{width: 100%;border-bottom: 1px solid #0abab5;float: left;background: url(../images/toggle_title.png) no-repeat center right;cursor: pointer}
.toggle_wrapper a.toggle_title.active{width: 100%;border-bottom: 1px solid #0abab5;float: left;background: url(../images/toggle_title_opened.png) no-repeat center right}
.toggle_wrapper a.toggle_title h2{float: left;color:#0abab5;font-size: 20px;text-transform: uppercase;margin-bottom: 15px;font-weight: 500 }
.toggle_data{column-count:3;width: 100%;-moz-column-count:3;-webkit-column-count:3;padding: 20px 0 0 0;font-size: 1.25rem;line-height: 30px;display: none}
.toggle_data a{color: #101010;}
/*---------- Страница услуг закончилась ----------*/

/*---------- Страница специалистов ----------*/
.row_speciality_rule{padding: 35px 0;}
.text_search_speciality_long_wrap .select2-container{margin-right: 26px}
.row_speciality_rule .container{border-bottom: 1px solid #cccccc;margin-bottom: 0px;padding-bottom: 25px}
.text_search_speciality_wrap{float: left;width: 345px;padding: 10px 0}
.text_search_speciality_long_wrap{float: left;width: calc(100% - 401px);border-left: 1px solid #cccccc;padding:10px 0 10px 55px}
.row.specialists_row{margin-bottom: 100px}
.row.specialists_row .toggle_data{column-count: 1;-moz-column-count:1;-webkit-column-count:1;padding-top: 30px}
.single_scrubs_wrap{display: block;position: relative;background: #ffffff;width: 230px;height: 420px;float: left;font-family:  "Franklin Gothic Book";margin-right: 30px;margin-bottom: 20px;color: #000}
.single_scrubs_img{float: left}
.single_scrubs_wrap h4{font-weight: 500;font-size: 15px;margin: 10px 15px 16px 15px;line-height: 20px;border-bottom: 1px solid #dedddd;float: left;padding-bottom: 14px}
.single_scrubs_wrap .single_scrubs_text{padding: 0 15px;font-size: 13px;color: #666666;line-height: 20px}
.single_scrubs_wrap:hover{-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);}
.single_scrubs_wrap:hover .single_scrubs_border{width: calc(100% - 4px);height: 2px;background: #18b3b9;position: absolute;bottom: 2px;left: 2px}
.paginate_scrubs_ul{display: block;float: left;width: 100%;margin: 0;padding: 0}
.paginate_scrubs_ul li{display: block;float: left;margin: 0;padding: 0}
.paginate_scrubs_navigation{width: 100%;text-align: center;float: left}
.paginate_scrubs_navigation a{color: #333333;font-size: 15px;background: #f4f4f4;width: 30px;display: inline-block;height: 33px;padding-top: 2px;text-align: center}
.paginate_scrubs_navigation a.active_page{color: #fff;background: #15959a}
.paginate_scrubs_navigation a.first_link,.paginate_scrubs_navigation a.previous_link,.paginate_scrubs_navigation a.next_link,.paginate_scrubs_navigation a.last_link,paginate_scrubs_navigation span.ellipse{display: none}
/*---------- Страница специалистов закончилась ----------*/


/*---------- Страница одного доктора ----------*/
.doctor_main_data_wrap{width: calc(100% - 290px);float: left;margin-bottom: 150px}
.image_n_sign_wrap{width: 300px;float: left;margin-right: 40px}
.image_n_sign_wrap .order_doctor{height: 35px;padding: 15px 0 0 90px;width: 210px;text-align: left;background: url(../images/order_doctor.png) no-repeat 38px center #0abab5;margin-top: 25px}
.doctor_text_data_wrap h1{font-family:'Franklin Gothic Demi Cond';font-size: 1.42rem;font-weight: 500;text-transform: uppercase;margin: 0 0 35px 0;color: #00abb2}
.doctor_text_data{width: 100%;font-family: "Franklin Gothic Book"; }
.doctor_text_data dt{color: #666666;font-size: 1.2rem;margin-bottom: 5px}
.doctor_text_data dd{color: #000000;font-size: 1.2rem;margin-bottom: 20px}
.structured_data_wrap{width: 100%;float: left;clear: both;margin-top: 60px}
.structured_data_wrap h2{font-size: 1.25rem;text-transform: uppercase;font-weight: 500;color: #101010;border-bottom: 2px solid #18b3b9;padding: 0 0 15px 25px;margin:0 0 20px 0}
.structured_data_content_wrap{padding-left: 25px;font-size: 1.1rem;margin-bottom: 10px;float: left;width: calc(100% - 25px)}
.structured_data_content_wrap span{color:#18b3b9;line-height: 20px }
.structured_data_title{width: calc(100% - 20px);display: block;float: left;height: 40px;background: #dedede;padding: 0 0 0 20px;cursor: pointer}
.structured_data_title.active{background: #0abab5;-webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.5);-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.5);box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.5);}
.structured_data_title.active h3{color: #fff}
.structured_data_title h3{font-size: 1.1rem;text-transform: uppercase;font-family:'Franklin Gothic Demi Cond';margin-top: 13px;float: left;font-weight: 500}
.structured_data_title span{display: block;float: right;width: 40px;background: #b6b5b5;text-align: center;height: 32px;padding-top: 8px;color: #fff;font-size: 13px;text-transform: uppercase;font-family:'Franklin Gothic Demi Cond';}
.structured_data_title.active span{background: #199da2;color: #fff}
.structured_data_table_wrap{width: calc(100% - 20px);float: left;margin-left: 20px;margin-top: 30px;margin-bottom: 30px;display: none}
.structured_data_table_line{width: 100%;float: left;}
.structured_data_table_line .structured_data_table_line_border{border: 1px solid #b7b7b7;float: left;width: 690px;padding: 13px 10px;border-bottom: none}
.structured_data_table_line:last-child .structured_data_table_line_border{border-bottom:  1px solid #b7b7b7}
.structured_data_table_line_border h4{margin: 0;padding: 0;float: left;width: calc(100% - 60px);font-size: 1.1rem;font-weight: 500}
.structured_data_table_line_border .structured_data_table_line_price{float: right;font-size: 15px}
.structured_data_table_link{float:right;color: #18b3b9;font-size: 12px;text-transform: uppercase;margin-top: 15px;cursor: pointer}
.back_to_specials_wrap{width: 100%;text-align: center;margin-top: 70px;float: left}
.back_to_specials_btn{background: url(../images/back_to_specials_btn.png) no-repeat 10px center #0abab5;padding-left: 40px}
.doctors_additional_panel{float: right;width: 290px;height: 800px}
.doctors_additional_panel h5{width: 100%;text-align: center;font-size: 14px;text-transform: uppercase;font-weight: 500;}
.doctors_additional_panel .single_scrubs_wrap{display: inline-block;float: none;margin-right: 0;color: #101010}
.doctors_additional_panel #mCSB_1_container{text-align: center}
.doctors_additional_panel .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, .doctors_additional_panel .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical{left: 0}
/*---------- Страница одного доктора закончилась ----------*/

/*---------- Страница прайсов ----------*/
.price_list_wrap{width: 65%}
.price_list_wrap .structured_data_wrap{margin-top: 0;margin-bottom: 50px}
.price_list_wrap .structured_data_wrap .structured_data_content_wrap{width: 100%;padding-left: 0}
.structured_data_table_line  .structured_data_table_line_border{width: calc(100% - 120px)}
.price_list_wrap .structured_data_wrap .structured_data_table_wrap h3{font-weight: 500;margin: 20px 0 10px 0;float: left}
.price_list_wrap .structured_data_wrap .structured_data_table_wrap h3:first-child{margin-top: 0}
.service_result_wrap{float: right;width: 30%}
.service_result_calc_wrap{background: #fff;margin-bottom: 100px;padding-bottom: 15px}
.service_result_title{width: calc(100% - 55px);padding-left: 55px;font-size: 1rem;background: url(../images/service_result_title.png) no-repeat center left;color: #333333;margin-bottom: 20px}
.service_result_total{width: calc(100% - 60px);height: 35px;padding: 15px 30px 0 30px;background: #18b3b9;color: #fff;font-size: 15px;font-family:'Franklin Gothic Demi Cond';text-transform: uppercase}
.service_result_total span{float: right;font-size: 20px;position: relative;top: -3px}
.service_result_data_wrap{width: 100%}
.service_result_data_line{height: 50px;font-size: 1.1rem;color: #101010;display: table-row}
.service_result_data_line_row{display: table-cell;vertical-align: middle;width: calc(100% - 30px);padding: 0px 50px 0 30px;position: relative}
.service_result_data_title{width: calc(100% - 10px)}
.service_result_data_line:nth-child(2n){background: #f4f4f4;}
.service_result_data_drop{float: right;width: 13px;height: 13px;background: url(../images/service_result_data_drop.png) no-repeat center;display: block;position: absolute;right: 30px;top: 17px;cursor: pointer}
.total_data{width: calc(100% - 60px);margin: 0 30px 20px 30px;text-align: center;border-top: 1px solid #d4d4d4;padding-top: 20px;font-size: 15px;text-transform: uppercase;color: #18b3b9;font-size: 15px}
.total_data span{display: inline-block;margin-left: 12px;font-size: 20px;text-transform: none}
.service_result_wrap .green_btn{width: calc(100% - 60px);padding-left: 0;padding-right: 0;text-align: center;margin-left: 30px;}
/*---------- Страница прайсов закончилась ----------*/

/*---------- Страница Услуги+ ----------*/
.row.row_single_service .container{display: block}
.single_service_left_list_wrap{float: left;width: 320px;padding-top: 85px;margin-bottom: 100px}
.single_service_left_list_wrap h3{font-size: 15px;font-weight: 500;padding-bottom: 10px;text-transform: uppercase;border-bottom: 1px solid #0abab5;margin: 0;background: url(../images/single_service_left_list.png) no-repeat right 5px}
.single_service_left_list{width: 225px;background: #fff;padding: 15px 20px 15px 15px}
.single_service_left_list ul{margin: 0;padding: 10px 0 0 0}
.single_service_left_list ul li{display: block;margin-bottom: 5px}
.single_service_left_list ul li a{color: #666666;font-size: 15px;font-family: "Franklin Gothic Book";}
.single_service_left_list ul li.active a,.single_service_left_list ul li:hover a{color: #0abab5;text-decoration: underline}
.single_service_wrap{float: left;width: calc(100% - 320px)}
.single_service_wrap h1{font-size: 24px;text-transform: uppercase;font-weight: 500;color: #0abab5;margin: 30px 0 30px 0}
.swither_wrap{float: left;width: 100%;clear: both}
.swither_wrap a{background: #fff;width: 33%;display: block;float: left;text-align: center;height: 30px;padding: 12px 0 0 0;font-size: 13px;text-transform: uppercase;color: #000;cursor: pointer;position: relative;z-index: 1;border-right: 1px solid #f4f4f4}
.swither_wrap a.active{z-index: 2;background: #f4f4f4;color: #11979c}
.switch_text{font-size: 14px;font-family: "Franklin Gothic Book";color: #101010;padding-top: 25px;float: left;width: 100%;display: none;position: relative}
.switch_text.active{display: block}
.switch_text h2{font-size: 18px;font-family: "Franklin Gothic Medium";font-weight: 500;text-transform: uppercase}
.specialists_carousel{position: relative;width: calc(100% - 140px);overflow: hidden;height: 460px;padding-top: 20px;margin-left: 70px}
.specialists_carousel_link{width: 47px;height: 49px;position: absolute;background-color: #0abab5;left: 0px;top: 170px;cursor: pointer;background-image: url(../images/specialists_carousel_link_left.png);background-position: center;background-repeat: no-repeat}
.specialists_carousel_link.specialists_carousel_link_left:hover{background-image: url(../images/specialists_carousel_link_left_hover.png);background-color: #fff;
-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);}
.specialists_carousel_link.specialists_carousel_link_right{background-image: url(../images/specialists_carousel_link_right.png);right: 0;left: auto}
.specialists_carousel_link.specialists_carousel_link_right:hover{background-image: url(../images/specialists_carousel_link_right_hover.png);background-color: #fff;
-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);}
ul.images_specialists{display: block;float: left;margin: 0;padding: 20px 0 0 0}
ul.images_specialists li{display: block;float: left;margin: 0 20px 20px 0;padding: 0}
/*---------- Страница Услуги+ закочилась ----------*/


/*---------- Страница Комплексных программ ----------*/
.row.row_complex h1{font-size: 25px;text-transform: uppercase;font-family: "Franklin Gothic Demi Cond";margin: 20px 0 40px 0;font-weight: 500}
.complex_pretext{font-family: "Franklin Gothic Book";font-size: 14px;float: left;width: 100%}
.complex_teasers_wrap{float: left;width: 100%;margin: 55px 0}
.complex_teasers_wrap .complex_teaser{width: calc(25% - 92px);padding-left: 72px;float: left;font-family: "Franklin Gothic Book";font-size: 14px;background-position: left top;background-repeat: no-repeat;height: 110px;margin-right: 20px}
.complex_teasers_wrap .complex_teaser:hover{opacity: 0.7}
.complex_teasers_wrap .complex_teaser:last-child{margin-right: 0}
.complex_teasers_wrap .complex_teaser .complex_teaser_title{font-family: "Franklin Gothic Medium";text-transform: uppercase;margin-bottom: 5px}
.complex_teasers_wrap .complex_teaser p{margin: 0}
.complex_teasers_wrap .complex_teaser.complex_confidence{background-image: url(../images/complex_confidence.png)}
.complex_teasers_wrap .complex_teaser.complex_economy{background-image: url(../images/complex_economy.png)}
.complex_teasers_wrap .complex_teaser.complex_economy_money{background-image: url(../images/complex_economy_money.png)}
.complex_teasers_wrap .complex_teaser.complex_individual{background-image: url(../images/complex_individual.png)}
.select_programs_wrap{float: left;width: 100%;border-bottom: 1px solid #d4d4d4;padding: 0 0 35px 0;margin: 0 0 30px 0}
.select_programs_wrap>div{float: left}
.select_programs_wrap .adults_child_wrap{border: 1px solid #c0c0c0;border-radius: 20px;height: 28px;background: #fff;font-family: "Franklin Gothic Demi Cond";font-size: 12px;text-transform: uppercase;}
.select_programs_wrap .adults_child_wrap>a{padding:7px 28px 0 28px;height: 21px;display: inline-block;border-radius: 20px;color: #18b3b9;cursor: pointer}
.select_programs_wrap .adults_child_wrap>a.active{background: #0abab5;color: #fff}
.count_contest_wrapper{margin-left: 100px;font-family: "Franklin Gothic Book";}
.count_contest_text_1,.count_contest_text_2{font-size: 14px;float: left;color: #18b3b9;padding-top: 5px}
.count_contest_text_data{float: left;border: 1px solid #c1c1c1;background: #fff;border-radius: 20px;width: 36px;text-align: center;font-size: 14px;padding: 4px 0 5px 0;margin: 0 10px}
.count_contest_text_2{color: #000}
a.contest_button{padding:7px 28px 0 28px;height: 21px;display: inline-block;border-radius: 20px;color: #18b3b9;cursor: pointer;margin-left: 30px;background: #0abab5;color: #fff;font-family: "Franklin Gothic Demi Cond";font-size: 12px;text-transform: uppercase;}
.list_programs_wrap{margin-bottom: 100px;width: 100%;float: left}
.single_program{width: calc(47% - 30px);margin-right: 6%;float: left;background: #fff;padding: 20px 10px 10px 20px;height: 80px;position: relative;margin-bottom: 20px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);-moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.75);box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.75);}
    .single_program:nth-child(2n){margin-right: 0}
.single_program h3{margin: 0;font-family: "Franklin Gothic Demi Cond";font-size: 16px;font-weight: 500}
.single_program h3 a{color: #000}
.single_program h3 a:hover{color: #18b3b9;text-decoration: underline}
.single_program .single_program_footer{position: absolute;bottom: 0;left: 0;width: calc(100% - 30px);bottom: 10px;left: 20px}
.price_prog_wrap{float: left;font-family: "Franklin Gothic Demi Cond";font-size: 16px;}
.price_prog_wrap span{font-size: 14px;font-family: "Franklin Gothic Book";color: #666666}
.price_prog_wrap span.price{color: #18b3b9;font-family: "Franklin Gothic Demi Cond";font-size: 16px;}
.add_to_contest{font-family: "Franklin Gothic Book";color: #666;font-size: 14px;float: right;padding-right: 30px;background: url(../images/add_to_contest.png) no-repeat center right;display: block;height: 18px;cursor: pointer}
/*---------- Страница Комплексных программ закончилась ----------*/

/*---------- Страница Сравнения Комплексных программ ----------*/
.row.row_complex_contest .container{display: block}
.row.row_complex_contest .container h1{font-size: 25px;text-transform: uppercase;font-family: "Franklin Gothic Demi Cond";margin: 20px 0 40px 0;font-weight: 500}
.programm_legend_wrap{width: 175px;float: left;padding-top: 170px;}
.programm_legend_item{font-size: 13px;color: #666666;padding-top: 35px;padding-left: 0px}
.programm_legend_item_target{height: 110px}
.programm_legend_item_address{height: 40px}
.programm_legend_item_specialist{height: 90px}
.programm_legend_item_diagnost{height: 110px}
.programm_legend_item_laborator{height: 250px}
.programm_legend_item_bonus{height: 205px}
.programm_legend_item_price{height: 38px}
.program_column{border: 1px solid #d6cfcf;width: 270px}
.swiper-slide .program_column{border-right: none}
.swiper-slide .program_column:hover{position: relative;z-index: 2;-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);}
.swiper-slide:last-child .program_column{border-right: 1px solid #d6cfcf;}
.program_column_title{border-bottom: 1px solid #b7b7b7;background: #fff9e9;padding:0 50px;display: table-cell;vertical-align: middle;height: 76px;font-size: 12px;text-transform: uppercase}
.programm_column_cell{padding: 34px 20px 0 20px;font-family: "Franklin Gothic Book";font-size: 12px;line-height: 18px;color: #101010;background: #f8f8f8;border-bottom: 1px solid #d6cfcf}
.programm_column_cell:nth-child(2n+1){background: #ffffff}
.programm_column_cell:last-child{border-bottom: none}
.programm_column_cell p{margin: 0 0 20px 0}
.programm_column_cell.programm_legend_item_price{font-size: 15px;font-family: "Franklin Gothic Demi Cond";text-align: center}
.programs_carousel_block{margin-bottom: 150px;float: left;width: calc(100% - 175px);position: relative}
.programs_carousel_wrap{width: calc(100% - 180px);overflow: hidden;height: 1200px}
.program_carousel_link{width: 53px;height: 58px;position: absolute;background-color: #0abab5;right: 53px;top: 92px;cursor: pointer;background-image: url(../images/specialists_carousel_link_left.png);background-position: center;background-repeat: no-repeat}
.program_carousel_link.program_carousel_link_left:hover{background-image: url(../images/specialists_carousel_link_left_hover.png);background-color: #fff;
-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);}
.program_carousel_link.program_carousel_link_right{background-image: url(../images/specialists_carousel_link_right.png);right: 0;left: auto}
.program_carousel_link.program_carousel_link_right:hover{background-image: url(../images/specialists_carousel_link_right_hover.png);background-color: #fff;
-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);}
/*---------- Страница Сравнения Комплексных программ закончилась ----------*/


/*---------- Страница Новостей ----------*/
.row_speciality_rule.row_speciality_rule_news .container{padding-bottom: 20px}
.row.row_title_h1 .container h1{margin: 20px 0 0 0;font-size: 2.1rem;font-weight: 500;font-family: "Franklin Gothic Demi Cond";text-transform: uppercase;}
.news_type{float: left;margin: 5px 0 0 0;padding: 0}
.news_type li{display: inline-block;margin-right: 25px;font-size: 1rem;text-transform: uppercase}
.news_type li a{color: #666666;font-family: "Franklin Gothic Demi Cond";}
.news_type li a.active{color: #0abab5}
.news_select_wrap{float: right}
.news_select_wrap .select2-container--default .select2-selection--single{height: 26px;border-radius: 0}
.news_select_wrap .select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 26px;font-family:  "Franklin Gothic Demi Cond";font-size: 1rem;text-transform: uppercase}
.news_select_wrap .select2-container--default .select2-selection--single .select2-selection__arrow{height: 26px;width: 18px}
.news_select_wrap .select2-container--default .select2-selection--single .select2-selection__arrow{background: url(../images/arrow_select_white.png) no-repeat center #0abab5}
.news_on_page_all .container{padding-bottom: 100px}
.single_news_item_page{width: 44%;background: #fff;float: left;padding:1% 2%;margin-bottom: 25px;margin-right: 4%}
.single_news_item_page:hover{-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);}
.single_news_item_page:nth-child(2n){margin-right: 0}
.single_news_item_page h2{font-size: 1.25rem;text-transform: uppercase;font-family: "Franklin Gothic Demi Cond";margin: 0 0 30px 0;font-weight: 500}
.img_news_wrap{float: left;width: 170px}
.img_news_wrap span{font-size: 1rem;margin-top: 15px;display: inline-block}
.single_news_item_page_text{margin-left: 30px;float: right;width: calc(100% - 200px)}
.single_news_item_page_text p{margin: 0;font-size: 1.2rem;font-family: "Franklin Gothic Book";line-height: 1.6rem}
.single_news_item_page_link{display: block;background: url(../images/single_news_item_page_link.png) no-repeat center right;padding-right:36px;float: right;min-height: 20px;font-family: "Franklin Gothic Demi Cond";color: #0abab5;font-size: 1rem;text-transform: uppercase;padding-top: 3px;margin-top: 30px}
/*---------- Страница Новостей закончилась ----------*/

/*---------- Страница Одной новости ----------*/
.pretext_news{font-family: "Franklin Gothic Demi Cond";font-size: 1.7rem;margin: 20px 0 20px 0;float: left}
.single_news_img{width: 100%}
single_news_img img{max-width: 100%}
.single_news_text{margin: 20px 0 100px 0}
.single_news_text p{font-size: 1.2rem;font-family: "Franklin Gothic Book";}
.single_news_text strong{font-size: 1.7rem;font-family: "Franklin Gothic Demi Cond";font-weight: 500}
.single_news_text a{color: #0abab5}
/*---------- Страница Одной новости закончилась ----------*/

/*---------- Страница полезных статей ----------*/
.useful_news_on_page_all{padding-top: 40px}
.useful_news_on_page_all .single_news_item_page{padding: 0 2% 0 0;width: 46%}
.useful_news_on_page_all .single_news_item_page:nth-child(2n){float: right}
.useful_news_on_page_all .single_news_item_page .single_news_item_page_text{width: calc(100% - 170px);margin-left: 20px;padding-bottom: 10px}
.useful_news_on_page_all .single_news_item_page .img_news_wrap{width: 150px}
.useful_news_on_page_all .single_news_item_page .img_news_wrap a img{display: block;float: left}
.useful_news_on_page_all .single_news_item_page .single_news_item_page_text h2{margin:10px 0 10px 0}
.useful_news_on_page_all .single_news_item_page .single_news_item_page_text h2 a{color: #000}
/*---------- Страница полезных статей закончилась ----------*/

/*---------- Страница Справочной ----------*/
.row.help_row .container{padding: 40px 150px}
.help_item_wrap{display: block;width: 44%;background: #fff;float: left;padding:1% 2%;margin-bottom: 25px;margin-right: 4%;color: #000;}
.help_item_wrap:hover{-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.55);background-color: #0abab5;color: #fff}
.help_item_wrap:nth-child(2n){margin-right: 0}
.help_item_wrap h2{font-size: 1.6rem;font-weight: 500;font-family: "Franklin Gothic Demi Cond";text-transform: uppercase;margin: 0;background-position: right top;background-repeat: no-repeat;height: 90px}
.help_item_wrap.help_item_wrap_rules h2{background-image: url(../images/help_item_wrap_rules.png)}
.help_item_wrap.help_item_wrap_rules:hover h2{background-image: url(../images/help_item_wrap_rules_hover.png)}
.help_item_wrap.help_item_wrap_discont h2{background-image: url(../images/help_item_wrap_discont.png)}
.help_item_wrap.help_item_wrap_discont:hover h2{background-image: url(../images/help_item_wrap_discont_hover.png)}
.help_item_wrap.help_item_wrap_time h2{background-image: url(../images/help_item_wrap_time.png)}
.help_item_wrap.help_item_wrap_time:hover h2{background-image: url(../images/help_item_wrap_time_hover.png)}
.help_item_wrap.help_item_wrap_useful h2{background-image: url(../images/help_item_wrap_useful.png)}
.help_item_wrap.help_item_wrap_useful:hover h2{background-image: url(../images/help_item_wrap_useful_hover.png)}
.help_item_wrap.help_item_wrap_insurance h2{background-image: url(../images/help_item_wrap_insurance.png)}
.help_item_wrap.help_item_wrap_insurance:hover h2{background-image: url(../images/help_item_wrap_insurance_hover.png)}
.help_item_wrap.help_item_wrap_news h2{background-image: url(../images/help_item_wrap_news.png)}
.help_item_wrap.help_item_wrap_news:hover h2{background-image: url(../images/help_item_wrap_news_hover.png)}
/*---------- Страница Справочной закончилась ----------*/

/*---------- Страница Графика приемов ----------*/
.row.audition_row .container{padding: 40px 0 100px 0}
.audition_wrap{float: left;width: 100%;margin-bottom: 24px}
.audition_wrap h2{background: #fff;font-family: "Franklin Gothic Demi Cond";font-size: 1.4rem;padding: 20px 34px;font-weight: 500;cursor: pointer;background: url(../images/audition_wrap.png) no-repeat 98% center;margin: 0;float: left;width: calc(100% - 68px);background-color: #fff}
.audition_wrap h2 span{font-family:"Franklin Gothic Book";}
.audition_wrap h2.active{box-shadow: none;color: #fff;background: url(../images/audition_wrap_active.png) no-repeat 98% center;background-color: #0abab5;}
.audition_data_wrap{background: #ededed;position: relative;z-index: 2;padding: 15px 34px;float: left;width: calc(100% - 68px);display: none}
.audition_data_wrap .audition_data_wrap_img{float: left;margin-right: 54px}
.audition_data_wrap .audition_data_wrap_phone{float: left;font-family:"Franklin Gothic Book"; margin-top: 18px}
.audition_data_wrap .audition_data_wrap_phone_title{width: 100%;font-size: 1.25rem;float:left}
.audition_data_wrap .audition_data_wrap_phone a{font-size: 1.7rem;color: #000;margin-top: 10px;float: left}
.audition_data_wrap_time{float: left; margin-top: 18px;font-family:"Franklin Gothic Book";}
.audition_data_wrap_time .audition_data_wrap_time_data{font-size: 1.25rem;margin-top: 15px;float: left}
/*---------- Страница Графика приемов закончилась ----------*/

/*---------- Страница Дисконтной программы ----------*/
.row.discount_row .container{padding: 40px 0 100px 0}
.card_wrap_text{float: left;width: calc(100% - 500px)}
.card_wrap_text h2{font-family: "Franklin Gothic Demi Cond";font-size: 1.25rem;font-weight: 500;text-transform: uppercase;margin: 0}
.card_wrap_text p{font-size: 1.2rem;font-family:"Franklin Gothic Book";}
.card_wrap{float: left;width: calc(100% - 48px);padding: 36px 24px;background: #fff}
.card_wrap .plactic_card{background: url(../images/plactic_card.png) no-repeat 24px 25px #0abab5;border-radius: 15px;width: 400px;padding: 24px 25px;float: right}
.plactic_card h3{font-weight: 500;float: right;text-align: right;color: #fff;font-family: "Franklin Gothic Demi Cond";font-size: 1.25rem;text-transform: uppercase;margin: 26px 0 56px 0}
.wrap_discount_input{width: 100%;float: left}
.wrap_discount_input input[type="text"]{width: calc(47% - 30px);border-radius: 15px;height: 34px;float: left;padding: 0 15px;}
.wrap_discount_input input:last-child[type="text"]{float: right}
.plactic_card_btn{width: 100%;float: left;display: block;background: #11979c;color: #fff;font-family: "Franklin Gothic Demi Cond";font-size: 1.25rem;text-transform: uppercase;text-align: center;border-radius: 15px;padding: 10px 0;margin-top: 15px}
h2.card_middle{font-family: "Franklin Gothic Demi Cond";font-size: 2.1rem;font-weight: 500;text-transform: uppercase;margin: 0;text-align: center;margin: 40px 0;float: left;width: 100%}
.discount_row ol{padding: 0 0 0  20px; counter-reset:li; /* Инициализируем счетчик */
    padding:0; /* Удаляем  установленное по умолчанию левое поле*/
    list-style:none;float:left}
.discount_row ol>li{font-size: 1.25rem;font-family:"Franklin Gothic Book";margin-bottom: 15px;position: relative;padding-left: 27px}
.discount_row ol>li:before {content:counter(li); 
      counter-increment:li;
      font-size: 1.25rem; /* декор цифр  */
    position: absolute;
    left: 0;
    top: 0px;
    width: 20px;
    padding: 0;
    color: #11979c;
    font-family: "Franklin Gothic Demi Cond";
}
.discount_row ol li ul{margin-top: 10px }
.discount_row ol li ul li{list-style: none;margin-bottom: 10px}
/*---------- Страница Дисконтной программы закончилась ----------*/

/*---------- Страница Страхования ----------*/
.oms_top_data{font-size: 1.25rem;font-family:"Franklin Gothic Book";float: left}
.oms_card_data_wrap{width: 100%;float: left;margin: 60px 0 40px 0}
.oms_card_item{width: calc(49% - 80px);margin-right: 2%;padding: 30px 40px 20px 40px;float: left;margin-bottom: 10px;font-size: 1.25rem;font-family: "Franklin Gothic Book";}
.oms_card_item h2{font-size: 1.25rem;color: #11979c;font-weight: 500;font-family: "Franklin Gothic Demi Cond";text-transform: uppercase;margin: 0 0 20px 0}
.oms_card_item:first-child{background: #ffffff}
.oms_card_item:nth-child(2n){background: #efdfff;margin-right: 0}
.oms_card_item:nth-child(2){height: 255px}
.oms_card_item:nth-child(3){background: #ffe6d3}
.oms_bottom_data{float: left;margin-bottom: 100px;font-size: 1.25rem;font-family:"Franklin Gothic Book";}
/*---------- Страница Страхования закончилась ----------*/


@media screen and (max-width:1340px) { 
  .advantage_wrap,.advantage_overlay{padding-left: 25px;padding-right: 25px}
  .advantage_overlay_title{line-height: 20px}
  .news_item_wrap{width: 20%;margin-right: 6%}
  .news_item_wrap:last-child{margin-right: 0}
}

@media screen and (max-width:1340px) { 
  .advantage_wrap,.advantage_overlay{padding-left: 25px;padding-right: 25px}
  .advantage_overlay_title{line-height: 20px}
}
